.lic__step1
  
  //- Banner section area
  .banner
    .banner-image
      img(src='static/images/couple.png', alt='couple')
    .banner-desc
      .banner-title
        p Let's compare life insurance.
      .banner-subtitle
        p Quality life cover for less.
      .banner-cta
        button#step1-next-button.btn Get Free Quotes
      .banner-info
        p Takes under 2 minutes and is 100% FREE


  //- Partners section area
  .partners#step1-partnersLogo
    .company-logo
      include ../../../static/images/aia-logo.svg
    .company-logo
      include ../../../static/images/zurich-logo.svg
    .company-logo
      include ../../../static/images/comminsure-logo.svg
    .company-logo
      img(src="static/images/amp-logo.svg", alt="amp_logo")
      //- include ../../../static/images/amp-logo.svg
    .company-logo
      include ../../../static/images/tal-logo.svg
    .company-logo
      include ../../../static/images/clearview-logo.svg
    .company-logo
      include ../../../static/images/neos-logo.svg        
    .company-logo
      include ../../../static/images/onepath-logo.svg
    .company-logo
      include ../../../static/images/clearview-logo.svg
    .company-logo
      include ../../../static/images/tal-logo.svg
            
