.eng__step-5

  //- Form
  .step-5__form
    .form-group.form-check
      label.step-5__form-label Are you moving into this property?
      #fifthStepRadio.step-5__form-radio-container.container-fluid
        .row
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-5__form-radio-column.pl-0
            .step-5__form-radio-item
              input#yes.form-radio-item__radio(name='fifthStepRadioOption', type='radio')
              label.form-radio-item__label(for='yes')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Yes
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-5__form-radio-column.pr-0
            .step-5__form-radio-item
              input#no.form-radio-item__radio(name='fifthStepRadioOption', type='radio')
              label.form-radio-item__label(for='no')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text No
        small.form-text.step-5__form-info-message.invisible Please select one of these

    //- Button Submit
    .form-submit-button
      button#step-5-button-submit.btn.step-5__form-submit 
        | Continue
        .button-icon
          include ../../../../../static/icons/chevron_right_white.svg

    //- Button Back
    .form-back-button
      button#step-5-button-back.btn.step-5__button-back 
        .button-icon
          include ../../../../../static/icons/chevron_left_white.svg
        | Back
