.lic__main-content

  //- Include Steps
  #lic__step1
    include ./Step1/step1.pug
  
  #lic__step2.d-none
    include ./Step2/step2.pug

  #lic__step3.d-none
    include ./Step3/step3.pug

  #lic__step4.d-none
    include ./Step4/step4.pug

  #lic__step5.d-none
    include ./Step5/step5.pug

  #lic__step6.d-none
    include ./Step6/step6.pug

  #lic__step7.d-none
    include ./Step7/step7.pug

  #lic__step8.d-none
    include ./Step8/step8.pug

  #lic__step9.d-none
    include ./Step9/step9.pug

  #lic__step10.d-none
