.testimonials#testimonialList
  .testimonial
    .stars
      each star in [1, 2, 3, 4, 5]
        span.star
          include ../../../static/icons/star_filled.svg
    .title
      p ‘Great Service and Care’
    .description
      p The consultant helped me understand my bills. She was very knowledgeable.
    .writer
      p Gary M., NSW - 7 days ago

  .testimonial
    .stars
      each star in [1, 2, 3, 4, 5]
        span.star
          include ../../../static/icons/star_filled.svg
    .title
      p ‘Very Helpful and Supportive…’
    .description
      p Saved me money and was hassle free, with value add service…
    .writer
      p Michele F., NSW - 7 days ago

  .testimonial
    .stars
      each star in [1, 2, 3, 4, 5]
        span.star
          include ../../../static/icons/star_filled.svg
    .title
      p ‘Quick and efficient'
    .description
      p I’m usually not at home during the day so he helped me find a plan…
    .writer
      p Lisa W., SA - 7 days ago

  .testimonial
    .stars
      each star in [1, 2, 3, 4, 5]
        span.star
          include ../../../static/icons/star_filled.svg
    .title
      p ‘Great Service and Care’
    .description
      p The consultant helped me understand my bills. She was very knowledgeable.
    .writer
      p Gary M., NSW - 7 days ago
