.eng__step-4

  //- Form
  .step-4__form
    .form-group.form-check
      label.step-4__form-label Do you own or rent the property?
      #fourthStepRadio.step-4__form-radio-container.container-fluid
        .row
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pl-0
            .step-4__form-radio-item
              input#own.form-radio-item__radio(name='fourthStepRadioOption', type='radio')
              label.form-radio-item__label(for='own')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Own
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pr-0
            .step-4__form-radio-item
              input#rent.form-radio-item__radio(name='fourthStepRadioOption', type='radio')
              label.form-radio-item__label(for='rent')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Rent
        small.form-text.step-4__form-info-message.invisible Please select one of these

    //- Button Submit
    .form-submit-button
      button#step-4-button-submit.btn.step-4__form-submit 
        | Continue
        .button-icon
          include ../../../../../static/icons/chevron_right_white.svg

    //- Button Back
    .form-back-button
      button#step-4-button-back.btn.step-4__button-back 
        .button-icon
          include ../../../../../static/icons/chevron_left_white.svg
        | Back
