nav#navbar.navbar.navbar-light.navbar-expand-lg.fixed-top.hic__header
  
  //- Company Logo
  a.navbar-brand(href='#')
    .d-inline-block.align-top.logo
      include ../../static/images/logo_full.svg
  
  .assistant-avatar
    img(src='static/images/assistant-avatar.png', alt='assistant-avatar')
  
  
  //- Contact Number
  a.phone(href='tel:1300163402')
    .d-inline-block.align-top.phone-icon
      include ../../static/icons/phone_header.svg
    .phone-details.d-none.d-md-flex.d-lg-flex.d-xl-flex
      p.phone-days Monday-Friday 8am to 8pm AEST
      p.mb-0.phone-number 1300 163 402
