.hic__footer
  .footer-links
    a.footer-link(href='#') Privacy Policy
    a.footer-link(href='#') Terms of Use

  .footer-text.mt-4
    span.copyright © Copyright Health Insurance Comparison 2013-2018. All rights reserved. HealthInsuranceComparison.com.au is an on-line health insurance comparison service. We provide you access to our expert staff to assist in selecting the most appropriate health insurance policy from our panel of health funds. Why not give us a call on 1300 384 472 to see if you have the most appropriate policy for your needs.