.lic__step7

  .content
    .title
      p What's your current occupation?

    .form
      .form-group#step7-form__form-group
        select#step7-form__occupation.selectpicker(
          data-live-search='true', 
          data-size='6', 
          data-style='select-picker',
          title='Please select your occupation'
        )
          option.option(value="Abalone Diver") Abalone Diver
          option.option(value="Account Executive") Account Executive
          option.option(value="Accountant (qualified)") Accountant (qualified)
          option.option(value="Accounts Clerk") Accounts Clerk
          option.option(value="Acrobat") Acrobat
          option.option(value="Actor") Actor
          option.option(value="Actuary (qualified)") Actuary (qualified)
          option.option(value="Acupuncturist (qualified)") Acupuncturist (qualified)
          option.option(value="Advertising Specialist") Advertising Specialist
          option.option(value="Aerial Photographer") Aerial Photographer
          option.option(value="Aerobics Instructor") Aerobics Instructor
          option.option(value="Aeronautical Engineer") Aeronautical Engineer
          option.option(value="Aged or Disabled Person Carer") Aged or Disabled Person Carer
          option.option(value="Agricultural Adviser") Agricultural Adviser
          option.option(value="Agricultural and Horticultural Harvester") Agricultural and Horticultural Harvester
          option.option(value="Agricultural Engineer") Agricultural Engineer
          option.option(value="Agricultural Pilot") Agricultural Pilot
          option.option(value="Agricultural Scientist") Agricultural Scientist
          option.option(value="Agronomist") Agronomist
          option.option(value="Air Traffic Controller") Air Traffic Controller
          option.option(value="Aircraft Maintenance Engineer") Aircraft Maintenance Engineer
          option.option(value="Aircraft Pilot") Aircraft Pilot
          option.option(value="Aircraft Refueller") Aircraft Refueller
          option.option(value="Aircraft Safety Equipment Worker") Aircraft Safety Equipment Worker
          option.option(value="Ambulance Officer") Ambulance Officer
          option.option(value="Ammunition Worker") Ammunition Worker
          option.option(value="Amusement Centre Manager") Amusement Centre Manager
          option.option(value="Anaesthetist") Anaesthetist
          option.option(value="Anatomist/Physiologist") Anatomist/Physiologist
          option.option(value="Animal Attendant") Animal Attendant
          option.option(value="Animal Breeder, Trainer, Groomer") Animal Breeder, Trainer, Groomer
          option.option(value="Antenna Erector (over 10m)") Antenna Erector (over 10m)
          option.option(value="Antenna Erector (under 10m)") Antenna Erector (under 10m)
          option.option(value="Anthropologist") Anthropologist
          option.option(value="Antique Dealer") Antique Dealer
          option.option(value="Apiarist") Apiarist
          option.option(value="Apparel Cutter") Apparel Cutter
          option.option(value="Applications and Analyst Programmer") Applications and Analyst Programmer
          option.option(value="Aquaculture Farmer") Aquaculture Farmer
          option.option(value="Archaeologist") Archaeologist
          option.option(value="Architect") Architect
          option.option(value="Archivist") Archivist
          option.option(value="Armoured Car Escort") Armoured Car Escort
          option.option(value="Art Dealer") Art Dealer
          option.option(value="Artificial Inseminator") Artificial Inseminator
          option.option(value="Asbestos Industry Worker or Miner") Asbestos Industry Worker or Miner
          option.option(value="Astronomer") Astronomer
          option.option(value="Attorney") Attorney
          option.option(value="Auctioneer") Auctioneer
          option.option(value="Audiologist") Audiologist
          option.option(value="Auditor (qualified)") Auditor (qualified)
          option.option(value="Author") Author
          option.option(value="Automotive Electrician (qualified)") Automotive Electrician (qualified)
          option.option(value="Backhoe Operator") Backhoe Operator
          option.option(value="Bacteriologist") Bacteriologist
          option.option(value="Baggage Handler") Baggage Handler
          option.option(value="Bailiff or Sheriff") Bailiff or Sheriff
          option.option(value="Baker (qualified)") Baker (qualified)
          option.option(value="Bank Manager") Bank Manager
          option.option(value="Bank Worker") Bank Worker
          option.option(value="Bar Attendant") Bar Attendant
          option.option(value="Barista") Barista
          option.option(value="Barrister") Barrister
          option.option(value="Battery or Tyre Sales") Battery or Tyre Sales
          option.option(value="Beautician") Beautician
          option.option(value="Beef Cattle Farmer (Owner/Manager)") Beef Cattle Farmer (Owner/Manager)
          option.option(value="Betting Agency (TAB) Branch Manager") Betting Agency (TAB) Branch Manager
          option.option(value="Betting Agency (TAB) Counter Clerk") Betting Agency (TAB) Counter Clerk
          option.option(value="Bicycle Dealer or Repairer") Bicycle Dealer or Repairer
          option.option(value="Binder and Finisher") Binder and Finisher
          option.option(value="Biochemist") Biochemist
          option.option(value="Biologist") Biologist
          option.option(value="Biomedical Engineer") Biomedical Engineer
          option.option(value="Blacksmith") Blacksmith
          option.option(value="Blasting Worker") Blasting Worker
          option.option(value="Blind/Awning/Screen Installer") Blind/Awning/Screen Installer
          option.option(value="Boarding House Manager") Boarding House Manager
          option.option(value="Boat Builder and Repairer (qualified)") Boat Builder and Repairer (qualified)
          option.option(value="Boat Salesperson") Boat Salesperson
          option.option(value="Bobcat Operator") Bobcat Operator
          option.option(value="Boilermaker (qualified)") Boilermaker (qualified)
          option.option(value="Bomb Disposal") Bomb Disposal
          option.option(value="Book Editor") Book Editor
          option.option(value="Bookkeeper") Bookkeeper
          option.option(value="Bookmaker") Bookmaker
          option.option(value="Botanist") Botanist
          option.option(value="Bottleshop Attendant") Bottleshop Attendant
          option.option(value="Bouncer/Crowd Control") Bouncer/Crowd Control
          option.option(value="Boxer") Boxer
          option.option(value="Bread Vendor (deliveries)") Bread Vendor (deliveries)
          option.option(value="Brick Cleaner") Brick Cleaner
          option.option(value="Bricklayer (qualified)") Bricklayer (qualified)
          option.option(value="Bricklayer's Labourer") Bricklayer's Labourer
          option.option(value="Broadcasting Technician") Broadcasting Technician
          option.option(value="Builder's Labourer") Builder's Labourer
          option.option(value="Building Industry, Supervisor") Building Industry, Supervisor
          option.option(value="Building Inspector") Building Inspector
          option.option(value="Building Insulation Installer") Building Insulation Installer
          option.option(value="Building Wrecker") Building Wrecker
          option.option(value="Bulldozer Operator") Bulldozer Operator
          option.option(value="Bus Driver") Bus Driver
          option.option(value="Bus Driver (long distance)") Bus Driver (long distance)
          option.option(value="Business Development Manager") Business Development Manager
          option.option(value="Business Manager") Business Manager
          option.option(value="Butcher") Butcher
          option.option(value="Butler") Butler
          option.option(value="Cabinetmaker (qualified)") Cabinetmaker (qualified)
          option.option(value="Cable Jointer") Cable Jointer
          option.option(value="Cake Decorator") Cake Decorator
          option.option(value="Call Centre Worker") Call Centre Worker
          option.option(value="Camera Operator (Film, Television or Video)") Camera Operator (Film, Television or Video)
          option.option(value="Canteen Worker") Canteen Worker
          option.option(value="Canvas Goods Manufacturer") Canvas Goods Manufacturer
          option.option(value="Car Park Attendant") Car Park Attendant
          option.option(value="Caravan Park and Camping Ground Manager") Caravan Park and Camping Ground Manager
          option.option(value="Cardiologist") Cardiologist
          option.option(value="Careers Counsellor") Careers Counsellor
          option.option(value="Caretaker") Caretaker
          option.option(value="Carpenter") Carpenter
          option.option(value="Carpenter (qualified)") Carpenter (qualified)
          option.option(value="Carpenter and Joiner") Carpenter and Joiner
          option.option(value="Carpet Cleaner") Carpet Cleaner
          option.option(value="Carpet Layer") Carpet Layer
          option.option(value="Cartographer") Cartographer
          option.option(value="Casino Manager") Casino Manager
          option.option(value="Casino Worker") Casino Worker
          option.option(value="Caterer (qualified)") Caterer (qualified)
          option.option(value="Ceiling Fixer (qualified)") Ceiling Fixer (qualified)
          option.option(value="Cellarman/Bartender") Cellarman/Bartender
          option.option(value="Cement Production Plant Operator") Cement Production Plant Operator
          option.option(value="Cemetery or Crematory Worker") Cemetery or Crematory Worker
          option.option(value="Chauffer") Chauffer
          option.option(value="Checkout Operator/Cashier") Checkout Operator/Cashier
          option.option(value="Checkout Supervisor") Checkout Supervisor
          option.option(value="Chef/Cook") Chef/Cook
          option.option(value="Chemical Engineer") Chemical Engineer
          option.option(value="Chemist") Chemist
          option.option(value="Chief Executive Officer/General Manager (qualified)") Chief Executive Officer/General Manager (qualified)
          option.option(value="Child Care Co-ordinator") Child Care Co-ordinator
          option.option(value="Child Care Worker") Child Care Worker
          option.option(value="Chimney Sweep") Chimney Sweep
          option.option(value="Chiropodist") Chiropodist
          option.option(value="Chiropractor") Chiropractor
          option.option(value="Circus Performer") Circus Performer
          option.option(value="Civil Engineer") Civil Engineer
          option.option(value="Cleaner") Cleaner
          option.option(value="Clerk") Clerk
          option.option(value="Clerk of Court/Articled Clerk") Clerk of Court/Articled Clerk
          option.option(value="Clothing Machinist") Clothing Machinist
          option.option(value="Clothing Patternmaker") Clothing Patternmaker
          option.option(value="Club Manager - Licensed Premises") Club Manager - Licensed Premises
          option.option(value="Coal Miner") Coal Miner
          option.option(value="Commercial or Office Cleaner") Commercial or Office Cleaner
          option.option(value="Commodities Trader") Commodities Trader
          option.option(value="Communications Linesperson (under 10m)") Communications Linesperson (under 10m)
          option.option(value="Communications Technician") Communications Technician
          option.option(value="Community Worker") Community Worker
          option.option(value="Company Secretary") Company Secretary
          option.option(value="Composer") Composer
          option.option(value="Compositor") Compositor
          option.option(value="Computer Salesperson") Computer Salesperson
          option.option(value="Computer Programmer (qualified)") Computer Programmer (qualified)
          option.option(value="Computing Professional") Computing Professional
          option.option(value="Computing Support Technician") Computing Support Technician
          option.option(value="Concrete Cutter") Concrete Cutter
          option.option(value="Concrete Finisher") Concrete Finisher
          option.option(value="Concrete Form Worker (under 10m)") Concrete Form Worker (under 10m)
          option.option(value="Concrete Paving Driver") Concrete Paving Driver
          option.option(value="Concrete Steel Fixer (under 10m)") Concrete Steel Fixer (under 10m)
          option.option(value="Concreter") Concreter
          option.option(value="Confectioner") Confectioner
          option.option(value="Conservator") Conservator
          option.option(value="Construction Plant Operator") Construction Plant Operator
          option.option(value="Construction Rigger (under 10m)") Construction Rigger (under 10m)
          option.option(value="Conveyancer") Conveyancer
          option.option(value="Cook") Cook
          option.option(value="Cook (qualified)") Cook (qualified)
          option.option(value="Coppersmith") Coppersmith
          option.option(value="Copywriter") Copywriter
          option.option(value="Coroner") Coroner
          option.option(value="Counsellor") Counsellor
          option.option(value="Courier") Courier
          option.option(value="Courier - Car") Courier - Car
          option.option(value="Courier - Cyclist") Courier - Cyclist
          option.option(value="Courier - Motorcyclist") Courier - Motorcyclist
          option.option(value="Courier - Van/Truck") Courier - Van/Truck
          option.option(value="Court or Legal Secretary") Court or Legal Secretary
          option.option(value="Court Orderly") Court Orderly
          option.option(value="Crane Chaser") Crane Chaser
          option.option(value="Crane, Hoist or Lift Operator") Crane, Hoist or Lift Operator
          option.option(value="Credit and Loans Officer") Credit and Loans Officer
          option.option(value="Credit Clerk") Credit Clerk
          option.option(value="Crop Farmer (Owner/Manager)") Crop Farmer (Owner/Manager)
          option.option(value="Croupier") Croupier
          option.option(value="Customer Service Manager") Customer Service Manager
          option.option(value="Customs Inspector") Customs Inspector
          option.option(value="Dairy Farmer (Owner/Manager)") Dairy Farmer (Owner/Manager)
          option.option(value="Dance Teacher") Dance Teacher
          option.option(value="Dancer or Choreographer") Dancer or Choreographer
          option.option(value="Data Entry Operator") Data Entry Operator
          option.option(value="Debt Collector") Debt Collector
          option.option(value="Deck Hand") Deck Hand
          option.option(value="Defence Force Member") Defence Force Member
          option.option(value="Delivery Driver") Delivery Driver
          option.option(value="Demolition Worker") Demolition Worker
          option.option(value="Dental Hygienist") Dental Hygienist
          option.option(value="Dental Nurse") Dental Nurse
          option.option(value="Dental Specialist") Dental Specialist
          option.option(value="Dental Technician") Dental Technician
          option.option(value="Dentist") Dentist
          option.option(value="Dermatologist") Dermatologist
          option.option(value="Despatch Clerk") Despatch Clerk
          option.option(value="Die Maker") Die Maker
          option.option(value="Diesel Mechanic") Diesel Mechanic
          option.option(value="Dietitian") Dietitian
          option.option(value="Director of Nursing") Director of Nursing
          option.option(value="Director/Producer (Film, Television, Radio or Stage)") Director/Producer (Film, Television, Radio or Stage)
          option.option(value="Disabilities Services Officer") Disabilities Services Officer
          option.option(value="Disc Jockey (DJ)") Disc Jockey (DJ)
          option.option(value="Diver") Diver
          option.option(value="Doctor") Doctor
          option.option(value="Dog Breeder") Dog Breeder
          option.option(value="Dog Groomer") Dog Groomer
          option.option(value="Dog Trainer") Dog Trainer
          option.option(value="Domestic Cleaner") Domestic Cleaner
          option.option(value="Domestic Housekeeper/Cleaner") Domestic Housekeeper/Cleaner
          option.option(value="Door-to-Door Salesperson") Door-to-Door Salesperson
          option.option(value="Drainer") Drainer
          option.option(value="Draper") Draper
          option.option(value="Draughtsperson") Draughtsperson
          option.option(value="Dredger Operator") Dredger Operator
          option.option(value="Dressmaker") Dressmaker
          option.option(value="Driller") Driller
          option.option(value="Driving Instructor") Driving Instructor
          option.option(value="Drover") Drover
          option.option(value="Drycleaner (Owner/Manager)") Drycleaner (Owner/Manager)
          option.option(value="Earthmoving Labourer") Earthmoving Labourer
          option.option(value="Economist") Economist
          option.option(value="Editor") Editor
          option.option(value="Education Inspector") Education Inspector
          option.option(value="Education Officer") Education Officer
          option.option(value="Electrical Engineer") Electrical Engineer
          option.option(value="Electrical Fitter") Electrical Fitter
          option.option(value="Electrical Powerline Tradesperson") Electrical Powerline Tradesperson
          option.option(value="Electrician") Electrician
          option.option(value="Electronic Equipment Tradesperson") Electronic Equipment Tradesperson
          option.option(value="Electronics Engineer") Electronics Engineer
          option.option(value="Electroplater") Electroplater
          option.option(value="Embalmer") Embalmer
          option.option(value="Employment Agent") Employment Agent
          option.option(value="Enameller") Enameller
          option.option(value="Endocrinologist") Endocrinologist
          option.option(value="Endodontist") Endodontist
          option.option(value="Engraver") Engraver
          option.option(value="Enrolled Nurse") Enrolled Nurse
          option.option(value="Entomologist") Entomologist
          option.option(value="Environmental Scientist") Environmental Scientist
          option.option(value="Estimator") Estimator
          option.option(value="Event Manager") Event Manager
          option.option(value="Excavator Operator") Excavator Operator
          option.option(value="Factory Worker") Factory Worker
          option.option(value="Farm Hand") Farm Hand
          option.option(value="Farm Overseer/Manager") Farm Overseer/Manager
          option.option(value="Farrier") Farrier
          option.option(value="Fashion Designer") Fashion Designer
          option.option(value="Fencing Contractor") Fencing Contractor
          option.option(value="Ferry Captain") Ferry Captain
          option.option(value="Fibreglass Worker") Fibreglass Worker
          option.option(value="Film and Video Editor") Film and Video Editor
          option.option(value="Financial Dealer and Broker") Financial Dealer and Broker
          option.option(value="Financial Planner") Financial Planner
          option.option(value="Fire Fighter") Fire Fighter
          option.option(value="Fishing Hand") Fishing Hand
          option.option(value="Fishmonger") Fishmonger
          option.option(value="Fitness Centre Manager") Fitness Centre Manager
          option.option(value="Fitness Instructor") Fitness Instructor
          option.option(value="Fitter") Fitter
          option.option(value="Flight Attendant") Flight Attendant
          option.option(value="Flight Engineer") Flight Engineer
          option.option(value="Floor Sander/Finisher") Floor Sander/Finisher
          option.option(value="Florist") Florist
          option.option(value="Flying Instructor") Flying Instructor
          option.option(value="Food Technologist") Food Technologist
          option.option(value="Footballer") Footballer
          option.option(value="Footwear Production Machine Operator") Footwear Production Machine Operator
          option.option(value="Foreman") Foreman
          option.option(value="Forest Timber Worker") Forest Timber Worker
          option.option(value="Forester") Forester
          option.option(value="Forklift Driver") Forklift Driver
          option.option(value="Foundry Worker") Foundry Worker
          option.option(value="French Polisher/Furniture Finisher") French Polisher/Furniture Finisher
          option.option(value="Fruit and Nut Grower (Owner/Manager)") Fruit and Nut Grower (Owner/Manager)
          option.option(value="Fruit Packer/Picker") Fruit Packer/Picker
          option.option(value="Fruiterer/Greengrocer") Fruiterer/Greengrocer
          option.option(value="Funeral Director") Funeral Director
          option.option(value="Furniture Removalist") Furniture Removalist
          option.option(value="Furniture Restorer") Furniture Restorer
          option.option(value="Furrier") Furrier
          option.option(value="Futures Trader") Futures Trader
          option.option(value="Garbage Collector") Garbage Collector
          option.option(value="Garden Labourer") Garden Labourer
          option.option(value="Gardener") Gardener
          option.option(value="Gasfitter") Gasfitter
          option.option(value="Gastroenterologist") Gastroenterologist
          option.option(value="Gem Cutter and Polisher") Gem Cutter and Polisher
          option.option(value="Generic 1: Professional") Generic 1: Professional
          option.option(value="Generic 2: White Collar Qualified") Generic 2: White Collar Qualified
          option.option(value="Generic 3: Medical") Generic 3: Medical
          option.option(value="Generic 4: Clerical - No Manual") Generic 4: Clerical - No Manual
          option.option(value="Generic 5: Clerical - Light Manual") Generic 5: Clerical - Light Manual
          option.option(value="Generic 6: Qualified Blue Collar/Trades") Generic 6: Qualified Blue Collar/Trades
          option.option(value="Generic 7: Unqualified Blue Collar") Generic 7: Unqualified Blue Collar
          option.option(value="Generic 8: Heavy Manual") Generic 8: Heavy Manual
          option.option(value="Geneticist") Geneticist
          option.option(value="Geologist") Geologist
          option.option(value="Geophysicist") Geophysicist
          option.option(value="Geriatric Nurse") Geriatric Nurse
          option.option(value="Glass Blower") Glass Blower
          option.option(value="Glazier - Glass Tradesperson") Glazier - Glass Tradesperson
          option.option(value="Goldsmith") Goldsmith
          option.option(value="Golfer") Golfer
          option.option(value="Grader Operator") Grader Operator
          option.option(value="Graphic Designer") Graphic Designer
          option.option(value="Grave Digger") Grave Digger
          option.option(value="Greenkeeper") Greenkeeper
          option.option(value="Gunsmith") Gunsmith
          option.option(value="Gymnastics Coach") Gymnastics Coach
          option.option(value="Gynaecologist") Gynaecologist
          option.option(value="Haematologist") Haematologist
          option.option(value="Hairdresser") Hairdresser
          option.option(value="Handyperson") Handyperson
          option.option(value="Harbour Pilot") Harbour Pilot
          option.option(value="Health Inspector") Health Inspector
          option.option(value="Helicopter Pilot") Helicopter Pilot
          option.option(value="Historian") Historian
          option.option(value="Homemaker") Homemaker
          option.option(value="Horse Breeder") Horse Breeder
          option.option(value="Horse Trainer") Horse Trainer
          option.option(value="Horseriding Coach") Horseriding Coach
          option.option(value="Horticulturist") Horticulturist
          option.option(value="Hospital Orderly/Wardsperson") Hospital Orderly/Wardsperson
          option.option(value="Hotel or Motel Manager") Hotel or Motel Manager
          option.option(value="Hotel Service Supervisor") Hotel Service Supervisor
          option.option(value="House Mover") House Mover
          option.option(value="House Restumper") House Restumper
          option.option(value="Human Resource Manager") Human Resource Manager
          option.option(value="Hypnotherapist") Hypnotherapist
          option.option(value="Illustrator/Cartoonist") Illustrator/Cartoonist
          option.option(value="Importer or Exporter") Importer or Exporter
          option.option(value="Industrial Chemist") Industrial Chemist
          option.option(value="Industrial Engineer") Industrial Engineer
          option.option(value="Industrial Relations Officer") Industrial Relations Officer
          option.option(value="Industrial Spray Painter") Industrial Spray Painter
          option.option(value="Information Technology Manager") Information Technology Manager
          option.option(value="Insurance Agent") Insurance Agent
          option.option(value="Insurance Broker") Insurance Broker
          option.option(value="Insurance Clerk") Insurance Clerk
          option.option(value="Insurance Investigator") Insurance Investigator
          option.option(value="Insurance Loss Adjuster") Insurance Loss Adjuster
          option.option(value="Insurance Risk Surveyor") Insurance Risk Surveyor
          option.option(value="Intensive Care Ambulance Paramedic") Intensive Care Ambulance Paramedic
          option.option(value="Interior Decorator") Interior Decorator
          option.option(value="Interior Designer") Interior Designer
          option.option(value="Interpreter") Interpreter
          option.option(value="Interviewer") Interviewer
          option.option(value="Investor") Investor
          option.option(value="Iridologist") Iridologist
          option.option(value="Ironing Contractor") Ironing Contractor
          option.option(value="Ironmonger") Ironmonger
          option.option(value="Jackeroo/Jilleroo") Jackeroo/Jilleroo
          option.option(value="Jeweller") Jeweller
          option.option(value="Jockey") Jockey
          option.option(value="Joiner") Joiner
          option.option(value="Journalist") Journalist
          option.option(value="Judge") Judge
          option.option(value="Juice Vendor") Juice Vendor
          option.option(value="Keyboard Operator") Keyboard Operator
          option.option(value="Kiln Worker") Kiln Worker
          option.option(value="Kinesiologist") Kinesiologist
          option.option(value="Kitchenhand") Kitchenhand
          option.option(value="Knitting Machine Operator") Knitting Machine Operator
          option.option(value="Laboratory Assistant/Technician") Laboratory Assistant/Technician
          option.option(value="Laboratory Scientist") Laboratory Scientist
          option.option(value="Labourer") Labourer
          option.option(value="Landscape Architect") Landscape Architect
          option.option(value="Landscape Gardener (qualified)") Landscape Gardener (qualified)
          option.option(value="Lapidarist") Lapidarist
          option.option(value="Lathe Operator") Lathe Operator
          option.option(value="Laundry Worker") Laundry Worker
          option.option(value="Law Clerk") Law Clerk
          option.option(value="Lawnmowing Contractor") Lawnmowing Contractor
          option.option(value="Lawyer") Lawyer
          option.option(value="Leaflet and Newspaper Deliverer") Leaflet and Newspaper Deliverer
          option.option(value="Librarian") Librarian
          option.option(value="Library Assistant") Library Assistant
          option.option(value="Licensed Builder") Licensed Builder
          option.option(value="Lifeguard") Lifeguard
          option.option(value="Lift Mechanic") Lift Mechanic
          option.option(value="Light Technician") Light Technician
          option.option(value="Linotyper/Lithographer") Linotyper/Lithographer
          option.option(value="Livestock Broker") Livestock Broker
          option.option(value="Livestock Farmer (Owner/Manager)") Livestock Farmer (Owner/Manager)
          option.option(value="Loader Operator") Loader Operator
          option.option(value="Locksmith") Locksmith
          option.option(value="Logging Plant Operator") Logging Plant Operator
          option.option(value="Luggage Porter or Doorperson") Luggage Porter or Doorperson
          option.option(value="Machinist (Metal or Wood)") Machinist (Metal or Wood)
          option.option(value="Magistrate") Magistrate
          option.option(value="Mail Clerk") Mail Clerk
          option.option(value="Mail Contractor") Mail Contractor
          option.option(value="Mail Supervisor") Mail Supervisor
          option.option(value="Make Up Artist") Make Up Artist
          option.option(value="Management Consultant") Management Consultant
          option.option(value="Managing Director") Managing Director
          option.option(value="Managing Supervisor (Sales and Service)") Managing Supervisor (Sales and Service)
          option.option(value="Manicurist") Manicurist
          option.option(value="Marina (Owner/Manager)") Marina (Owner/Manager)
          option.option(value="Marine Biologist") Marine Biologist
          option.option(value="Marine Surveyor") Marine Surveyor
          option.option(value="Market Gardener") Market Gardener
          option.option(value="Market Research Analyst") Market Research Analyst
          option.option(value="Market Stall Holder") Market Stall Holder
          option.option(value="Marketing Specialist") Marketing Specialist
          option.option(value="Martial Arts Instructor") Martial Arts Instructor
          option.option(value="Masseur") Masseur
          option.option(value="Master Fisherman") Master Fisherman
          option.option(value="Materials Recycler (Scrap Metal Dealer)") Materials Recycler (Scrap Metal Dealer)
          option.option(value="Mathematician") Mathematician
          option.option(value="Meat Boner and Slicer") Meat Boner and Slicer
          option.option(value="Meat Packer") Meat Packer
          option.option(value="Meatworks Labourer") Meatworks Labourer
          option.option(value="Mechanic's Assistant") Mechanic's Assistant
          option.option(value="Mechanical Engineer") Mechanical Engineer
          option.option(value="Medical Administrator") Medical Administrator
          option.option(value="Medical Diagnostic Radiographer") Medical Diagnostic Radiographer
          option.option(value="Medical Laboratory Technical Officer") Medical Laboratory Technical Officer
          option.option(value="Medical Practitioner") Medical Practitioner
          option.option(value="Medical Scientist") Medical Scientist
          option.option(value="Merchant Banker") Merchant Banker
          option.option(value="Meteorologist") Meteorologist
          option.option(value="Meter Reader") Meter Reader
          option.option(value="Microbiologist") Microbiologist
          option.option(value="Milk Vendor (deliveries)") Milk Vendor (deliveries)
          option.option(value="Milliner") Milliner
          option.option(value="Mining - Assayer") Mining - Assayer
          option.option(value="Mining - Boilermaker") Mining - Boilermaker
          option.option(value="Mining - Carpenter") Mining - Carpenter
          option.option(value="Mining - Clerical/Admin") Mining - Clerical/Admin
          option.option(value="Mining - driver/operator - Bogger") Mining - driver/operator - Bogger
          option.option(value="Mining - driver/operator - Crane") Mining - driver/operator - Crane
          option.option(value="Mining - driver/operator - Dump truck") Mining - driver/operator - Dump truck
          option.option(value="Mining - driver/operator - Excavator") Mining - driver/operator - Excavator
          option.option(value="Mining - driver/operator - Jumbo") Mining - driver/operator - Jumbo
          option.option(value="Mining - Electrician") Mining - Electrician
          option.option(value="Mining - Engineer (field work)") Mining - Engineer (field work)
          option.option(value="Mining - Engineer (office only)") Mining - Engineer (office only)
          option.option(value="Mining - Explosives handler") Mining - Explosives handler
          option.option(value="Mining - Firefighter") Mining - Firefighter
          option.option(value="Mining - Fitter/Turner") Mining - Fitter/Turner
          option.option(value="Mining - Geologist (field work)") Mining - Geologist (field work)
          option.option(value="Mining - Geologist (office only)") Mining - Geologist (office only)
          option.option(value="Mining - Labourer") Mining - Labourer
          option.option(value="Mining - Maintenance supervisor") Mining - Maintenance supervisor
          option.option(value="Mining - Maintenance worker") Mining - Maintenance worker
          option.option(value="Mining - Mechanic") Mining - Mechanic
          option.option(value="Mining - Metallurgist") Mining - Metallurgist
          option.option(value="Mining - Mill operator") Mining - Mill operator
          option.option(value="Mining - Mine deputy/ manager") Mining - Mine deputy/ manager
          option.option(value="Mining - Miner/Driller") Mining - Miner/Driller
          option.option(value="Mining - O.H. and S. manager") Mining - O.H. and S. manager
          option.option(value="Mining - Plant operator") Mining - Plant operator
          option.option(value="Mining - Plumber") Mining - Plumber
          option.option(value="Mining - Safety officer") Mining - Safety officer
          option.option(value="Mining - Sandblaster") Mining - Sandblaster
          option.option(value="Mining - Shotfirer") Mining - Shotfirer
          option.option(value="Mining - Supervisor") Mining - Supervisor
          option.option(value="Mining - Surveyor") Mining - Surveyor
          option.option(value="Mining - Truck driver") Mining - Truck driver
          option.option(value="Mining - Underground - Carpenter") Mining - Underground - Carpenter
          option.option(value="Mining - Underground - driver/operator - bogger") Mining - Underground - driver/operator - bogger
          option.option(value="Mining - Underground - driver/operator - crane") Mining - Underground - driver/operator - crane
          option.option(value="Mining - Underground - driver/operator - dump truck") Mining - Underground - driver/operator - dump truck
          option.option(value="Mining - Underground - driver/operator - excavator") Mining - Underground - driver/operator - excavator
          option.option(value="Mining - Underground - driver/operator - jumbo") Mining - Underground - driver/operator - jumbo
          option.option(value="Mining - Underground - driver/operator - mill") Mining - Underground - driver/operator - mill
          option.option(value="Mining - Underground - driver/operator - truck") Mining - Underground - driver/operator - truck
          option.option(value="Mining - Underground - Electrician") Mining - Underground - Electrician
          option.option(value="Mining - Underground - Explosives handler") Mining - Underground - Explosives handler
          option.option(value="Mining - Underground - Fitter/Turner") Mining - Underground - Fitter/Turner
          option.option(value="Mining - Underground - Geologist") Mining - Underground - Geologist
          option.option(value="Mining - Underground - Maintenance worker") Mining - Underground - Maintenance worker
          option.option(value="Mining - Underground - Mechanic") Mining - Underground - Mechanic
          option.option(value="Mining - Underground - Mine deputy/manager") Mining - Underground - Mine deputy/manager
          option.option(value="Mining - Underground - Miner/Driller") Mining - Underground - Miner/Driller
          option.option(value="Mining - Underground - Plant operator") Mining - Underground - Plant operator
          option.option(value="Mining - Underground - Plumber") Mining - Underground - Plumber
          option.option(value="Mining - Underground - Sandblaster") Mining - Underground - Sandblaster
          option.option(value="Mining - Underground - Shotfirer") Mining - Underground - Shotfirer
          option.option(value="Mining - Underground - Supervisor") Mining - Underground - Supervisor
          option.option(value="Mining - Underground - Train driver") Mining - Underground - Train driver
          option.option(value="Mining - Underground - Welder") Mining - Underground - Welder
          option.option(value="Mining - Welder") Mining - Welder
          option.option(value="Minister of Religion") Minister of Religion
          option.option(value="Model") Model
          option.option(value="Motion Picture Projectionist") Motion Picture Projectionist
          option.option(value="Motor Mechanic") Motor Mechanic
          option.option(value="Motor Vehicle and Caravan Salesperson") Motor Vehicle and Caravan Salesperson
          option.option(value="Motor Vehicle Licence Examiner") Motor Vehicle Licence Examiner
          option.option(value="Moulder") Moulder
          option.option(value="Muffler Fitter") Muffler Fitter
          option.option(value="Museum or Gallery Attendant") Museum or Gallery Attendant
          option.option(value="Museum or Gallery Curator") Museum or Gallery Curator
          option.option(value="Music Director") Music Director
          option.option(value="Music Teacher") Music Teacher
          option.option(value="Musician - Symphony Orchestra") Musician - Symphony Orchestra
          option.option(value="Myotherapist") Myotherapist
          option.option(value="Nanny") Nanny
          option.option(value="Natural Therapy Professional (Homeopath/Herbalist)") Natural Therapy Professional (Homeopath/Herbalist)
          option.option(value="Naturopath") Naturopath
          option.option(value="Navy, Seagoing Officer") Navy, Seagoing Officer
          option.option(value="Navy, Submariner") Navy, Submariner
          option.option(value="Neurologist") Neurologist
          option.option(value="Newsagent") Newsagent
          option.option(value="Nurse Manager") Nurse Manager
          option.option(value="Nurseryperson") Nurseryperson
          option.option(value="Nursing Assistant") Nursing Assistant
          option.option(value="Obstetrician and Gynaecologist") Obstetrician and Gynaecologist
          option.option(value="Occupational Health and Safety Officer") Occupational Health and Safety Officer
          option.option(value="Occupational Therapist") Occupational Therapist
          option.option(value="Office Cashier") Office Cashier
          option.option(value="Office Manager") Office Manager
          option.option(value="Office Worker") Office Worker
          option.option(value="Oil and gas - Offshore - Crane Operator") Oil and gas - Offshore - Crane Operator
          option.option(value="Oil and gas - Offshore - Derrick Operator") Oil and gas - Offshore - Derrick Operator
          option.option(value="Oil and gas - Offshore - Driller") Oil and gas - Offshore - Driller
          option.option(value="Oil and gas - Offshore - Engineer") Oil and gas - Offshore - Engineer
          option.option(value="Oil and gas - Offshore - Geologist") Oil and gas - Offshore - Geologist
          option.option(value="Oil and gas - Offshore - Laboratory Technician") Oil and gas - Offshore - Laboratory Technician
          option.option(value="Oil and gas - Offshore - Labourer") Oil and gas - Offshore - Labourer
          option.option(value="Oil and gas - Offshore - Mechanic") Oil and gas - Offshore - Mechanic
          option.option(value="Oil and gas - Offshore - Rigger") Oil and gas - Offshore - Rigger
          option.option(value="Oil and gas - Offshore - Supervisor") Oil and gas - Offshore - Supervisor
          option.option(value="Oil and gas - Offshore - Tool Pusher") Oil and gas - Offshore - Tool Pusher
          option.option(value="Oil and gas - Offshore - Welder") Oil and gas - Offshore - Welder
          option.option(value="Oil and gas - Onshore - Clerical/Admin") Oil and gas - Onshore - Clerical/Admin
          option.option(value="Oil and gas - Onshore - Crane Operator") Oil and gas - Onshore - Crane Operator
          option.option(value="Oil and gas - Onshore - Derrick Operator") Oil and gas - Onshore - Derrick Operator
          option.option(value="Oil and gas - Onshore - Distributor") Oil and gas - Onshore - Distributor
          option.option(value="Oil and gas - Onshore - Driller") Oil and gas - Onshore - Driller
          option.option(value="Oil and gas - Onshore - Engineer") Oil and gas - Onshore - Engineer
          option.option(value="Oil and gas - Onshore - Geologist") Oil and gas - Onshore - Geologist
          option.option(value="Oil and gas - Onshore - Laboratory Technician") Oil and gas - Onshore - Laboratory Technician
          option.option(value="Oil and gas - Onshore - Machine Operator") Oil and gas - Onshore - Machine Operator
          option.option(value="Oil and gas - Onshore - Mechanic") Oil and gas - Onshore - Mechanic
          option.option(value="Oil and gas - Onshore - Rigger") Oil and gas - Onshore - Rigger
          option.option(value="Oil and gas - Onshore - Supervisor") Oil and gas - Onshore - Supervisor
          option.option(value="Oil and gas - Onshore - Welder") Oil and gas - Onshore - Welder
          option.option(value="Oil and gas - Pipeline worker") Oil and gas - Pipeline worker
          option.option(value="Oil and gas - Refinery worker") Oil and gas - Refinery worker
          option.option(value="Oncologist") Oncologist
          option.option(value="Ophthalmologist") Ophthalmologist
          option.option(value="Optical Technician") Optical Technician
          option.option(value="Optician") Optician
          option.option(value="Optometrist") Optometrist
          option.option(value="Orchardist") Orchardist
          option.option(value="Orthodontist") Orthodontist
          option.option(value="Orthopaedic Surgeon") Orthopaedic Surgeon
          option.option(value="Orthoptist/Prosthetist") Orthoptist/Prosthetist
          option.option(value="Orthotist") Orthotist
          option.option(value="Osteopath") Osteopath
          option.option(value="Oyster Farmer") Oyster Farmer
          option.option(value="Packer") Packer
          option.option(value="Paediatrician") Paediatrician
          option.option(value="Painter - Visual Arts") Painter - Visual Arts
          option.option(value="Painter and Decorator (qualified)") Painter and Decorator (qualified)
          option.option(value="Painter and Decorator (qualified) above 10m") Painter and Decorator (qualified) above 10m
          option.option(value="Pallbearer") Pallbearer
          option.option(value="Panel Beater (qualified)") Panel Beater (qualified)
          option.option(value="Paper Products Machine Operator") Paper Products Machine Operator
          option.option(value="Park Ranger") Park Ranger
          option.option(value="Parking Inspector") Parking Inspector
          option.option(value="Parliamentarian or Councillor") Parliamentarian or Councillor
          option.option(value="Parole or Probation Officer") Parole or Probation Officer
          option.option(value="Pastrycook") Pastrycook
          option.option(value="Pathologist") Pathologist
          option.option(value="Paver") Paver
          option.option(value="Payroll Clerk") Payroll Clerk
          option.option(value="Pensioner") Pensioner
          option.option(value="Periodontist") Periodontist
          option.option(value="Personal Assistant") Personal Assistant
          option.option(value="Personal Trainer") Personal Trainer
          option.option(value="Personnel Officer or Consultant") Personnel Officer or Consultant
          option.option(value="Pest and Weed Controller") Pest and Weed Controller
          option.option(value="Petroleum and Gas Plant Operator") Petroleum and Gas Plant Operator
          option.option(value="Pharmacist") Pharmacist
          option.option(value="Photoengraver") Photoengraver
          option.option(value="Photographer") Photographer
          option.option(value="Physical Education Teacher") Physical Education Teacher
          option.option(value="Physical Metallurgist") Physical Metallurgist
          option.option(value="Physicist") Physicist
          option.option(value="Physiotherapist") Physiotherapist
          option.option(value="Piano Tuner") Piano Tuner
          option.option(value="Picture Framer") Picture Framer
          option.option(value="Pig Farmer (Owner/Manager)") Pig Farmer (Owner/Manager)
          option.option(value="Plant Operator") Plant Operator
          option.option(value="Plasterer (qualified)") Plasterer (qualified)
          option.option(value="Plastic Surgeon") Plastic Surgeon
          option.option(value="Plumber") Plumber
          option.option(value="Podiatrist") Podiatrist
          option.option(value="Police Officer") Police Officer
          option.option(value="Police Officer, Air Wing") Police Officer, Air Wing
          option.option(value="Police Officer, Bomb Disposal") Police Officer, Bomb Disposal
          option.option(value="Police Officer, Dog Squad") Police Officer, Dog Squad
          option.option(value="Police Officer, Motorcyclist") Police Officer, Motorcyclist
          option.option(value="Police Officer, Rescue") Police Officer, Rescue
          option.option(value="Police Officer, Special Weapons") Police Officer, Special Weapons
          option.option(value="Post Office Manager") Post Office Manager
          option.option(value="Postal Delivery Officer") Postal Delivery Officer
          option.option(value="Postal Sorting Officer") Postal Sorting Officer
          option.option(value="Potter or Ceramic Artist") Potter or Ceramic Artist
          option.option(value="Poultry Farmer (Owner/Manager)") Poultry Farmer (Owner/Manager)
          option.option(value="Precision Instrument Maker and Repairer") Precision Instrument Maker and Repairer
          option.option(value="Preschool Aide") Preschool Aide
          option.option(value="Preschool Teacher") Preschool Teacher
          option.option(value="Priest") Priest
          option.option(value="Primary Products Inspector") Primary Products Inspector
          option.option(value="Print Journalist") Print Journalist
          option.option(value="Printer") Printer
          option.option(value="Prison Officer") Prison Officer
          option.option(value="Private Investigator") Private Investigator
          option.option(value="Process Worker") Process Worker
          option.option(value="Product Assembler") Product Assembler
          option.option(value="Production Assistant (Film, Television, Radio or Stage)") Production Assistant (Film, Television, Radio or Stage)
          option.option(value="Production Manager (Manufacturing)") Production Manager (Manufacturing)
          option.option(value="Production Manager (Mining)") Production Manager (Mining)
          option.option(value="Production or Plant Engineer") Production or Plant Engineer
          option.option(value="Professor") Professor
          option.option(value="Project Manager") Project Manager
          option.option(value="Proof Reader") Proof Reader
          option.option(value="Property Developer") Property Developer
          option.option(value="Property Manager") Property Manager
          option.option(value="Prostitute or Escort") Prostitute or Escort
          option.option(value="Psychiatrist") Psychiatrist
          option.option(value="Psychologist") Psychologist
          option.option(value="Public Relations Officer") Public Relations Officer
          option.option(value="Public Servant") Public Servant
          option.option(value="Publisher") Publisher
          option.option(value="Purchasing Officer") Purchasing Officer
          option.option(value="Quality Assurance Manager") Quality Assurance Manager
          option.option(value="Quantity Surveyor") Quantity Surveyor
          option.option(value="Quarry Worker") Quarry Worker
          option.option(value="RAAF, Regular Flying") RAAF, Regular Flying
          option.option(value="Radio Journalist") Radio Journalist
          option.option(value="Radio Presenter") Radio Presenter
          option.option(value="Radiologist") Radiologist
          option.option(value="Railway Guard") Railway Guard
          option.option(value="Railway Shunter") Railway Shunter
          option.option(value="Railway Signal Operator") Railway Signal Operator
          option.option(value="Railway Station Manager") Railway Station Manager
          option.option(value="Railway Track Worker") Railway Track Worker
          option.option(value="Railways Assistant") Railways Assistant
          option.option(value="Real Estate Agency Manager") Real Estate Agency Manager
          option.option(value="Real Estate Salesperson") Real Estate Salesperson
          option.option(value="Receptionist") Receptionist
          option.option(value="Records Manager") Records Manager
          option.option(value="Recruitment Consultant") Recruitment Consultant
          option.option(value="Reflexologist") Reflexologist
          option.option(value="Refrigeration and Airconditioning Mechanic (qualified)") Refrigeration and Airconditioning Mechanic (qualified)
          option.option(value="Registered Mental Health Nurse") Registered Mental Health Nurse
          option.option(value="Registered Midwife") Registered Midwife
          option.option(value="Registered Nurse") Registered Nurse
          option.option(value="Rehabilitation Counsellor") Rehabilitation Counsellor
          option.option(value="Reinsman, Trotting") Reinsman, Trotting
          option.option(value="Repairperson") Repairperson
          option.option(value="Repossessor") Repossessor
          option.option(value="Research and Development Manager") Research and Development Manager
          option.option(value="Restaurant and Catering Manager") Restaurant and Catering Manager
          option.option(value="Retail Buyer") Retail Buyer
          option.option(value="Retail Supervisor") Retail Supervisor
          option.option(value="Retired") Retired
          option.option(value="Road Roller Operator (Asphalt Layer)") Road Roller Operator (Asphalt Layer)
          option.option(value="Roof Plumber") Roof Plumber
          option.option(value="Roof Slater and Tiler") Roof Slater and Tiler
          option.option(value="Rubbish Collector") Rubbish Collector
          option.option(value="Safety Inspector") Safety Inspector
          option.option(value="Sail Maker") Sail Maker
          option.option(value="Sales and Marketing Manager - degree qualified") Sales and Marketing Manager - degree qualified
          option.option(value="Sales Assistant") Sales Assistant
          option.option(value="Sales Representative") Sales Representative
          option.option(value="Sales Representative (Travelling)") Sales Representative (Travelling)
          option.option(value="Sandblaster") Sandblaster
          option.option(value="Sawmill Labourer") Sawmill Labourer
          option.option(value="Scaffolder - 10 metre and below") Scaffolder - 10 metre and below
          option.option(value="School Principal") School Principal
          option.option(value="School Teacher (Primary or Secondary)") School Teacher (Primary or Secondary)
          option.option(value="Scientist") Scientist
          option.option(value="Scientist, degree qualified, field work") Scientist, degree qualified, field work
          option.option(value="Screen Printer") Screen Printer
          option.option(value="Script Editor/Writer") Script Editor/Writer
          option.option(value="Sculptor") Sculptor
          option.option(value="Sea Transport Crew") Sea Transport Crew
          option.option(value="Seafarer") Seafarer
          option.option(value="Search and Rescue Worker") Search and Rescue Worker
          option.option(value="Secretary") Secretary
          option.option(value="Security Guard (Armed)") Security Guard (Armed)
          option.option(value="Security Guard (Unarmed)") Security Guard (Unarmed)
          option.option(value="Senior Fire Fighter") Senior Fire Fighter
          option.option(value="Service Station Attendant") Service Station Attendant
          option.option(value="Shearer") Shearer
          option.option(value="Sheep Farmer (Owner/Manager)") Sheep Farmer (Owner/Manager)
          option.option(value="Sheet Metal Worker") Sheet Metal Worker
          option.option(value="Ship's Engineer") Ship's Engineer
          option.option(value="Ship's Master") Ship's Master
          option.option(value="Ship's Officer") Ship's Officer
          option.option(value="Shipwright") Shipwright
          option.option(value="Shoemaker") Shoemaker
          option.option(value="Shooter-Trapper") Shooter-Trapper
          option.option(value="Shop Manager") Shop Manager
          option.option(value="Shopfitter") Shopfitter
          option.option(value="Shopkeeper/Proprietor - Adult Books/Goods") Shopkeeper/Proprietor - Adult Books/Goods
          option.option(value="Shopkeeper/Proprietor - Antiques") Shopkeeper/Proprietor - Antiques
          option.option(value="Shopkeeper/Proprietor - Aquarium") Shopkeeper/Proprietor - Aquarium
          option.option(value="Shopkeeper/Proprietor - Art Supplies") Shopkeeper/Proprietor - Art Supplies
          option.option(value="Shopkeeper/Proprietor - Baby Goods") Shopkeeper/Proprietor - Baby Goods
          option.option(value="Shopkeeper/Proprietor - Bedding") Shopkeeper/Proprietor - Bedding
          option.option(value="Shopkeeper/Proprietor - Bicycles") Shopkeeper/Proprietor - Bicycles
          option.option(value="Shopkeeper/Proprietor - Books") Shopkeeper/Proprietor - Books
          option.option(value="Shopkeeper/Proprietor - Bootmaker") Shopkeeper/Proprietor - Bootmaker
          option.option(value="Shopkeeper/Proprietor - Bread/Cakes") Shopkeeper/Proprietor - Bread/Cakes
          option.option(value="Shopkeeper/Proprietor - Butcher") Shopkeeper/Proprietor - Butcher
          option.option(value="Shopkeeper/Proprietor - Camping Equipment") Shopkeeper/Proprietor - Camping Equipment
          option.option(value="Shopkeeper/Proprietor - Cane Goods") Shopkeeper/Proprietor - Cane Goods
          option.option(value="Shopkeeper/Proprietor - Cards") Shopkeeper/Proprietor - Cards
          option.option(value="Shopkeeper/Proprietor - Carpets/Floor Coverings") Shopkeeper/Proprietor - Carpets/Floor Coverings
          option.option(value="Shopkeeper/Proprietor - China/Glassware") Shopkeeper/Proprietor - China/Glassware
          option.option(value="Shopkeeper/Proprietor - Clothing") Shopkeeper/Proprietor - Clothing
          option.option(value="Shopkeeper/Proprietor - Coffee Lounge") Shopkeeper/Proprietor - Coffee Lounge
          option.option(value="Shopkeeper/Proprietor - Computers") Shopkeeper/Proprietor - Computers
          option.option(value="Shopkeeper/Proprietor - Confectionery") Shopkeeper/Proprietor - Confectionery
          option.option(value="Shopkeeper/Proprietor - Curtains/Blinds") Shopkeeper/Proprietor - Curtains/Blinds
          option.option(value="Shopkeeper/Proprietor - Delicatessen") Shopkeeper/Proprietor - Delicatessen
          option.option(value="Shopkeeper/Proprietor - Department Store") Shopkeeper/Proprietor - Department Store
          option.option(value="Shopkeeper/Proprietor - Disposal") Shopkeeper/Proprietor - Disposal
          option.option(value="Shopkeeper/Proprietor - Dry Cleaning") Shopkeeper/Proprietor - Dry Cleaning
          option.option(value="Shopkeeper/Proprietor - Duty Free") Shopkeeper/Proprietor - Duty Free
          option.option(value="Shopkeeper/Proprietor - Electrical Goods") Shopkeeper/Proprietor - Electrical Goods
          option.option(value="Shopkeeper/Proprietor - Fast Food/Takeaway") Shopkeeper/Proprietor - Fast Food/Takeaway
          option.option(value="Shopkeeper/Proprietor - Fish and Chips") Shopkeeper/Proprietor - Fish and Chips
          option.option(value="Shopkeeper/Proprietor - Florist") Shopkeeper/Proprietor - Florist
          option.option(value="Shopkeeper/Proprietor - Footwear") Shopkeeper/Proprietor - Footwear
          option.option(value="Shopkeeper/Proprietor - Furniture") Shopkeeper/Proprietor - Furniture
          option.option(value="Shopkeeper/Proprietor - General Store") Shopkeeper/Proprietor - General Store
          option.option(value="Shopkeeper/Proprietor - Gift Shop") Shopkeeper/Proprietor - Gift Shop
          option.option(value="Shopkeeper/Proprietor - Greengrocer") Shopkeeper/Proprietor - Greengrocer
          option.option(value="Shopkeeper/Proprietor - Gunsmith") Shopkeeper/Proprietor - Gunsmith
          option.option(value="Shopkeeper/Proprietor - Haberdashery/Drapery") Shopkeeper/Proprietor - Haberdashery/Drapery
          option.option(value="Shopkeeper/Proprietor - Hardware") Shopkeeper/Proprietor - Hardware
          option.option(value="Shopkeeper/Proprietor - Health Foods") Shopkeeper/Proprietor - Health Foods
          option.option(value="Shopkeeper/Proprietor - Ice Cream") Shopkeeper/Proprietor - Ice Cream
          option.option(value="Shopkeeper/Proprietor - Jewellery") Shopkeeper/Proprietor - Jewellery
          option.option(value="Shopkeeper/Proprietor - Lawnmower") Shopkeeper/Proprietor - Lawnmower
          option.option(value="Shopkeeper/Proprietor - Light Fittings") Shopkeeper/Proprietor - Light Fittings
          option.option(value="Shopkeeper/Proprietor - Lingerie") Shopkeeper/Proprietor - Lingerie
          option.option(value="Shopkeeper/Proprietor - Liquor Store") Shopkeeper/Proprietor - Liquor Store
          option.option(value="Shopkeeper/Proprietor - Locksmith") Shopkeeper/Proprietor - Locksmith
          option.option(value="Shopkeeper/Proprietor - Milk Bar") Shopkeeper/Proprietor - Milk Bar
          option.option(value="Shopkeeper/Proprietor - Motor Vehicle Spares/Accessories") Shopkeeper/Proprietor - Motor Vehicle Spares/Accessories
          option.option(value="Shopkeeper/Proprietor - Musical Equipment") Shopkeeper/Proprietor - Musical Equipment
          option.option(value="Shopkeeper/Proprietor - Nursery/Garden") Shopkeeper/Proprietor - Nursery/Garden
          option.option(value="Shopkeeper/Proprietor - Office Equipment") Shopkeeper/Proprietor - Office Equipment
          option.option(value="Shopkeeper/Proprietor - Office Supplies") Shopkeeper/Proprietor - Office Supplies
          option.option(value="Shopkeeper/Proprietor - Outdoor Supplies") Shopkeeper/Proprietor - Outdoor Supplies
          option.option(value="Shopkeeper/Proprietor - Paint/Wallpaper") Shopkeeper/Proprietor - Paint/Wallpaper
          option.option(value="Shopkeeper/Proprietor - Pawnbroker") Shopkeeper/Proprietor - Pawnbroker
          option.option(value="Shopkeeper/Proprietor - Petshop") Shopkeeper/Proprietor - Petshop
          option.option(value="Shopkeeper/Proprietor - Photographic") Shopkeeper/Proprietor - Photographic
          option.option(value="Shopkeeper/Proprietor - Produce Merchant") Shopkeeper/Proprietor - Produce Merchant
          option.option(value="Shopkeeper/Proprietor - Records/Music/CDs/DVDs") Shopkeeper/Proprietor - Records/Music/CDs/DVDs
          option.option(value="Shopkeeper/Proprietor - Second Hand Goods") Shopkeeper/Proprietor - Second Hand Goods
          option.option(value="Shopkeeper/Proprietor - Skin, Hide and Leather Goods") Shopkeeper/Proprietor - Skin, Hide and Leather Goods
          option.option(value="Shopkeeper/Proprietor - Sporting Goods") Shopkeeper/Proprietor - Sporting Goods
          option.option(value="Shopkeeper/Proprietor - Stationery") Shopkeeper/Proprietor - Stationery
          option.option(value="Shopkeeper/Proprietor - Supermarket") Shopkeeper/Proprietor - Supermarket
          option.option(value="Shopkeeper/Proprietor - Swimming Pool Supplies") Shopkeeper/Proprietor - Swimming Pool Supplies
          option.option(value="Shopkeeper/Proprietor - Telephones") Shopkeeper/Proprietor - Telephones
          option.option(value="Shopkeeper/Proprietor - Tobacconist") Shopkeeper/Proprietor - Tobacconist
          option.option(value="Shopkeeper/Proprietor - Toys") Shopkeeper/Proprietor - Toys
          option.option(value="Shopkeeper/Proprietor - Video Hire") Shopkeeper/Proprietor - Video Hire
          option.option(value="Sign Erector") Sign Erector
          option.option(value="Signwriter (under 10m)") Signwriter (under 10m)
          option.option(value="Silversmith") Silversmith
          option.option(value="Singer") Singer
          option.option(value="Slaughterperson") Slaughterperson
          option.option(value="Social Worker") Social Worker
          option.option(value="Soil Scientist") Soil Scientist
          option.option(value="Solicitor") Solicitor
          option.option(value="Sonographer") Sonographer
          option.option(value="Sound Technician") Sound Technician
          option.option(value="Special Education Teacher") Special Education Teacher
          option.option(value="Specialist Medical Practitioner") Specialist Medical Practitioner
          option.option(value="Specialist Physician") Specialist Physician
          option.option(value="Speech Pathologist") Speech Pathologist
          option.option(value="Sports Administrator") Sports Administrator
          option.option(value="Sports Centre Manager") Sports Centre Manager
          option.option(value="Sports Coach") Sports Coach
          option.option(value="Sports Umpire") Sports Umpire
          option.option(value="Sportsperson") Sportsperson
          option.option(value="Stage Manager") Stage Manager
          option.option(value="Statistician") Statistician
          option.option(value="Steel Erector, Heights over 10 metres") Steel Erector, Heights over 10 metres
          option.option(value="Steeplejack") Steeplejack
          option.option(value="Stenographer") Stenographer
          option.option(value="Stevedore") Stevedore
          option.option(value="Stock and Station Agent") Stock and Station Agent
          option.option(value="Stockbroker/Financial Market Dealer") Stockbroker/Financial Market Dealer
          option.option(value="Stockbroking Dealer") Stockbroking Dealer
          option.option(value="Stockman") Stockman
          option.option(value="Stone Processing Machine Operator") Stone Processing Machine Operator
          option.option(value="Stonemason") Stonemason
          option.option(value="Storeperson (manual work) work") Storeperson (manual work) work
          option.option(value="Streetsweeper Operator") Streetsweeper Operator
          option.option(value="Structural Steel Erector and Fixer") Structural Steel Erector and Fixer
          option.option(value="Student") Student
          option.option(value="Student Counsellor") Student Counsellor
          option.option(value="Stuntman") Stuntman
          option.option(value="Sugar Cane Grower (Owner/Manager)") Sugar Cane Grower (Owner/Manager)
          option.option(value="Supervisor, Forestry and Logging Workers") Supervisor, Forestry and Logging Workers
          option.option(value="Supervisor, Police Officers") Supervisor, Police Officers
          option.option(value="Supervisor, Precision Metal Tradespersons") Supervisor, Precision Metal Tradespersons
          option.option(value="Supervisor, Waiters") Supervisor, Waiters
          option.option(value="Supply and Distribution Manager") Supply and Distribution Manager
          option.option(value="Surgeon") Surgeon
          option.option(value="Surveyor") Surveyor
          option.option(value="Swimming Coach") Swimming Coach
          option.option(value="Swimming Pool Attendant") Swimming Pool Attendant
          option.option(value="Swimming Pool Builder") Swimming Pool Builder
          option.option(value="Tailor") Tailor
          option.option(value="Tanker Driver") Tanker Driver
          option.option(value="Tanker Driver (long distance)") Tanker Driver (long distance)
          option.option(value="Tanner") Tanner
          option.option(value="Tattooist") Tattooist
          option.option(value="Tax Consultant (qualified)") Tax Consultant (qualified)
          option.option(value="Taxi Driver") Taxi Driver
          option.option(value="Taxi Driver (Owner/Driver)") Taxi Driver (Owner/Driver)
          option.option(value="Taxidermist") Taxidermist
          option.option(value="Teacher's Aide") Teacher's Aide
          option.option(value="Telemarketer") Telemarketer
          option.option(value="Telephonist (Switchboard Operator)") Telephonist (Switchboard Operator)
          option.option(value="Television Equipment Operator") Television Equipment Operator
          option.option(value="Television Journalist") Television Journalist
          option.option(value="Television Presenter") Television Presenter
          option.option(value="Tennis Coach") Tennis Coach
          option.option(value="Tennis Player") Tennis Player
          option.option(value="Test Pilot") Test Pilot
          option.option(value="Textile, Clothing or Footwear Machinist") Textile, Clothing or Footwear Machinist
          option.option(value="Theatre Nurse") Theatre Nurse
          option.option(value="Theatre or Cinema Manager") Theatre or Cinema Manager
          option.option(value="Theatre or Cinema Technician") Theatre or Cinema Technician
          option.option(value="Ticket Collector or Usher") Ticket Collector or Usher
          option.option(value="Ticket Seller (Theatre or Cinema)") Ticket Seller (Theatre or Cinema)
          option.option(value="Tobacco Grower (Owner/Manager)") Tobacco Grower (Owner/Manager)
          option.option(value="Toolmaker (qualified)") Toolmaker (qualified)
          option.option(value="Tour Guide") Tour Guide
          option.option(value="Tourist Information Officer") Tourist Information Officer
          option.option(value="Tow Truck Operator") Tow Truck Operator
          option.option(value="Toxicologist") Toxicologist
          option.option(value="Train Controller") Train Controller
          option.option(value="Train Driver") Train Driver
          option.option(value="Train Driver (long distance)") Train Driver (long distance)
          option.option(value="Training Officer") Training Officer
          option.option(value="Tram Driver") Tram Driver
          option.option(value="Translator") Translator
          option.option(value="Transport Company Manager") Transport Company Manager
          option.option(value="Transport Conductor") Transport Conductor
          option.option(value="Transport Inspector") Transport Inspector
          option.option(value="Travel Agency Manager") Travel Agency Manager
          option.option(value="Travel Agent") Travel Agent
          option.option(value="Tree Feller") Tree Feller
          option.option(value="Tree Surgeon") Tree Surgeon
          option.option(value="Truck Driver") Truck Driver
          option.option(value="Truck Driver (long distance)") Truck Driver (long distance)
          option.option(value="Tugboat Operator") Tugboat Operator
          option.option(value="Tunneller") Tunneller
          option.option(value="Typesetter") Typesetter
          option.option(value="Typist and Word Processing Operator") Typist and Word Processing Operator
          option.option(value="Tyre and Battery Fitter") Tyre and Battery Fitter
          option.option(value="Undertaker") Undertaker
          option.option(value="Underwriter") Underwriter
          option.option(value="Unemployed") Unemployed
          option.option(value="University Lecturer") University Lecturer
          option.option(value="University Tutor") University Tutor
          option.option(value="Upholsterer (qualified)") Upholsterer (qualified)
          option.option(value="Urban and Regional Planner") Urban and Regional Planner
          option.option(value="Urologist") Urologist
          option.option(value="Valet") Valet
          option.option(value="Valuer") Valuer
          option.option(value="Vegetable Grower") Vegetable Grower
          option.option(value="Vehicle Body Maker") Vehicle Body Maker
          option.option(value="Vehicle Cleaner/Detailer") Vehicle Cleaner/Detailer
          option.option(value="Vehicle Spray Painter") Vehicle Spray Painter
          option.option(value="Vehicle Trimmer/Upholsterer") Vehicle Trimmer/Upholsterer
          option.option(value="Vending Machine Attendant or Serviceman") Vending Machine Attendant or Serviceman
          option.option(value="Veterinarian") Veterinarian
          option.option(value="Veterinarian, Large Animals") Veterinarian, Large Animals
          option.option(value="Veterinary Nurse") Veterinary Nurse
          option.option(value="Videographer") Videographer
          option.option(value="Visual Arts and Crafts Professionals") Visual Arts and Crafts Professionals
          option.option(value="Visual Merchandiser") Visual Merchandiser
          option.option(value="Vocational Education Teacher") Vocational Education Teacher
          option.option(value="Waiter") Waiter
          option.option(value="Wall and Floor Tiler") Wall and Floor Tiler
          option.option(value="Wallpaper Hanger") Wallpaper Hanger
          option.option(value="Wardsperson") Wardsperson
          option.option(value="Washing Machine Mechanic") Washing Machine Mechanic
          option.option(value="Watch and Clock Maker and Repairer") Watch and Clock Maker and Repairer
          option.option(value="Waterproofer") Waterproofer
          option.option(value="Waterside Worker") Waterside Worker
          option.option(value="Weaver") Weaver
          option.option(value="Weaving Machine Operator") Weaving Machine Operator
          option.option(value="Welder (qualified)") Welder (qualified)
          option.option(value="Welfare Centre Manager") Welfare Centre Manager
          option.option(value="Welfare Worker") Welfare Worker
          option.option(value="Wharf Worker") Wharf Worker
          option.option(value="Window Cleaner") Window Cleaner
          option.option(value="Window Cleaner, Outdoors, Above Ground Floor") Window Cleaner, Outdoors, Above Ground Floor
          option.option(value="Window Tinter") Window Tinter
          option.option(value="Windscreen Fitter") Windscreen Fitter
          option.option(value="Wine Merchant") Wine Merchant
          option.option(value="Winemaker") Winemaker
          option.option(value="Wood Machinist") Wood Machinist
          option.option(value="Wood Processing Machine Operator") Wood Processing Machine Operator
          option.option(value="Wool Buyer") Wool Buyer
          option.option(value="Wool Classer") Wool Classer
          option.option(value="Xray Technician") Xray Technician
          option.option(value="Youth Worker") Youth Worker
          option.option(value="Zoologist") Zoologist
          option.option(value="Baker (final year apprenticeship)") Baker (final year apprenticeship)
          option.option(value="Baker (first year apprenticeship)") Baker (first year apprenticeship)
          option.option(value="Baker (intermediate year apprenticeship)") Baker (intermediate year apprenticeship)
          option.option(value="Builder (final year apprenticeship)") Builder (final year apprenticeship)
          option.option(value="Builder (first year apprenticeship)") Builder (first year apprenticeship)
          option.option(value="Builder (intermediate year apprenticeship)") Builder (intermediate year apprenticeship)
          option.option(value="Business Analyst (qualified)") Business Analyst (qualified)
          option.option(value="Carpenter (final year apprenticeship)") Carpenter (final year apprenticeship)
          option.option(value="Carpenter (first year apprenticeship)") Carpenter (first year apprenticeship)
          option.option(value="Carpenter (intermediate year apprenticeship)") Carpenter (intermediate year apprenticeship)
          option.option(value="Casino Cashier") Casino Cashier
          option.option(value="Cement Renderer") Cement Renderer
          option.option(value="Chef/Cook (final year apprenticeship)") Chef/Cook (final year apprenticeship)
          option.option(value="Chef/Cook (first year apprenticeship)") Chef/Cook (first year apprenticeship)
          option.option(value="Chef/Cook (intermediate year apprenticeship)") Chef/Cook (intermediate year apprenticeship)
          option.option(value="Electrician (final year apprenticeship)") Electrician (final year apprenticeship)
          option.option(value="Electrician (first year apprenticeship)") Electrician (first year apprenticeship)
          option.option(value="Electrician (intermediate year apprenticeship)") Electrician (intermediate year apprenticeship)
          option.option(value="Generic 9: Special Risk") Generic 9: Special Risk
          option.option(value="Hairdresser (final year apprenticeship)") Hairdresser (final year apprenticeship)
          option.option(value="Hairdresser (first year apprenticeship)") Hairdresser (first year apprenticeship)
          option.option(value="Hairdresser (intermediate year apprenticeship)") Hairdresser (intermediate year apprenticeship)
          option.option(value="Mechanic (final year apprenticeship)") Mechanic (final year apprenticeship)
          option.option(value="Mechanic (first year apprenticeship)") Mechanic (first year apprenticeship)
          option.option(value="Mechanic (intermediate year apprenticeship)") Mechanic (intermediate year apprenticeship)
          option.option(value="Office Manager - Senior") Office Manager - Senior
          option.option(value="Plumber (final year apprenticeship)") Plumber (final year apprenticeship)
          option.option(value="Plumber (first year apprenticeship)") Plumber (first year apprenticeship)
          option.option(value="Plumber (intermediate year apprenticeship)") Plumber (intermediate year apprenticeship)
          option.option(value="Sales and Marketing Manager - not qualified") Sales and Marketing Manager - not qualified
          option.option(value="Storeperson - Admin/Light Manual Only") Storeperson - Admin/Light Manual Only
          option.option(value="Abattoir Inspector") Abattoir Inspector
          option.option(value="Abattoir Supervisor") Abattoir Supervisor
          option.option(value="Accountant") Accountant
          option.option(value="Actuary") Actuary
          option.option(value="Acupuncturist") Acupuncturist
          option.option(value="Agronomist (field work)") Agronomist (field work)
          option.option(value="Airline Staff") Airline Staff
          option.option(value="Airline Staff (office work)") Airline Staff (office work)
          option.option(value="Alarm Installer/Fixer") Alarm Installer/Fixer
          option.option(value="Amusement Centre Employee") Amusement Centre Employee
          option.option(value="Archaeologist (field work)") Archaeologist (field work)
          option.option(value="Architect (field work)") Architect (field work)
          option.option(value="Architectural Draftsperson") Architectural Draftsperson
          option.option(value="Artist - Freelance") Artist - Freelance
          option.option(value="Auctioneer - Livestock") Auctioneer - Livestock
          option.option(value="Auctioneer - Real Estate") Auctioneer - Real Estate
          option.option(value="Audiometrist") Audiometrist
          option.option(value="Auditor") Auditor
          option.option(value="Automotive Electrician") Automotive Electrician
          option.option(value="Avon/Amway/Tupperware Seller or Distributor") Avon/Amway/Tupperware Seller or Distributor
          option.option(value="Baker") Baker
          option.option(value="Balloonist") Balloonist
          option.option(value="Bank Clerk") Bank Clerk
          option.option(value="Bar Manager") Bar Manager
          option.option(value="Bar Manager (with bar work)") Bar Manager (with bar work)
          option.option(value="Battery Repairs and Fitting") Battery Repairs and Fitting
          option.option(value="Beach Inspector") Beach Inspector
          option.option(value="Beautician (working from home)") Beautician (working from home)
          option.option(value="Boarding Kennel Proprietor") Boarding Kennel Proprietor
          option.option(value="Boat Builder and Repairer") Boat Builder and Repairer
          option.option(value="Boilermaker") Boilermaker
          option.option(value="Botanist (field work)") Botanist (field work)
          option.option(value="Brewery/Distillery - Chemist") Brewery/Distillery - Chemist
          option.option(value="Brewery/Distillery - Worker") Brewery/Distillery - Worker
          option.option(value="Bricklayer") Bricklayer
          option.option(value="Business Analyst") Business Analyst
          option.option(value="Cabinetmaker") Cabinetmaker
          option.option(value="Cable or Wire Maker") Cable or Wire Maker
          option.option(value="Cable TV Installer") Cable TV Installer
          option.option(value="Car Salesperson") Car Salesperson
          option.option(value="Car Wash Employee") Car Wash Employee
          option.option(value="Car Wrecker") Car Wrecker
          option.option(value="Caterer") Caterer
          option.option(value="Ceiling Fixer") Ceiling Fixer
          option.option(value="Chief Executive Officer/General Manager") Chief Executive Officer/General Manager
          option.option(value="Child Care Worker (working from home)") Child Care Worker (working from home)
          option.option(value="Commentator - Radio or Television") Commentator - Radio or Television
          option.option(value="Communications Linesperson (over 10m)") Communications Linesperson (over 10m)
          option.option(value="Computer Programmer") Computer Programmer
          option.option(value="Concierge") Concierge
          option.option(value="Concrete Contractor") Concrete Contractor
          option.option(value="Construction Project Manager") Construction Project Manager
          option.option(value="Construction Rigger (over 10m)") Construction Rigger (over 10m)
          option.option(value="Dairy Process Worker") Dairy Process Worker
          option.option(value="Debt Collector (field work)") Debt Collector (field work)
          option.option(value="Delicatessen - Employee") Delicatessen - Employee
          option.option(value="Demolition Worker (explosives)") Demolition Worker (explosives)
          option.option(value="Dental Prosthesist") Dental Prosthesist
          option.option(value="Dental Surgeon") Dental Surgeon
          option.option(value="Department Store (deliveries)") Department Store (deliveries)
          option.option(value="Diamond - Cutter/Polisher/Setter") Diamond - Cutter/Polisher/Setter
          option.option(value="Dressmaker (working from home)") Dressmaker (working from home)
          option.option(value="Driver - Coach") Driver - Coach
          option.option(value="Driver - Coach (long distance)") Driver - Coach (long distance)
          option.option(value="Drycleaner") Drycleaner
          option.option(value="Earthmoving Contractor (Owner/Operator)") Earthmoving Contractor (Owner/Operator)
          option.option(value="Elevator Mechanic/Installer") Elevator Mechanic/Installer
          option.option(value="Entertainer") Entertainer
          option.option(value="Equipment Hire - Repair/Service") Equipment Hire - Repair/Service
          option.option(value="Exterior Designer/Decorator") Exterior Designer/Decorator
          option.option(value="Fast Food/Takeaway - Employee") Fast Food/Takeaway - Employee
          option.option(value="Film Distributor") Film Distributor
          option.option(value="Film Technician") Film Technician
          option.option(value="Florist (deliveries)") Florist (deliveries)
          option.option(value="Garage Door Installer") Garage Door Installer
          option.option(value="Garage/Service Station (Owner/Manager)") Garage/Service Station (Owner/Manager)
          option.option(value="Guest House (Owner/Manager)") Guest House (Owner/Manager)
          option.option(value="Gym (Owner/Manager)") Gym (Owner/Manager)
          option.option(value="Hairdresser (working from home)") Hairdresser (working from home)
          option.option(value="Headmaster/Headmistress") Headmaster/Headmistress
          option.option(value="Janitor") Janitor
          option.option(value="Landlord") Landlord
          option.option(value="Landscape Gardener") Landscape Gardener
          option.option(value="Manicurist (working from home)") Manicurist (working from home)
          option.option(value="Marine Biologist (field work)") Marine Biologist (field work)
          option.option(value="Masseur (working from home)") Masseur (working from home)
          option.option(value="Mortgage Broker") Mortgage Broker
          option.option(value="Musician") Musician
          option.option(value="Newsagent (deliveries)") Newsagent (deliveries)
          option.option(value="Painter and Decorator") Painter and Decorator
          option.option(value="Painter and Decorator above 10m") Painter and Decorator above 10m
          option.option(value="Panel Beater") Panel Beater
          option.option(value="Paralegal") Paralegal
          option.option(value="Parking Station Attendant") Parking Station Attendant
          option.option(value="Plasterer") Plasterer
          option.option(value="Prison Governor") Prison Governor
          option.option(value="Publican") Publican
          option.option(value="Quarantine Officer") Quarantine Officer
          option.option(value="Refrigeration and Airconditioning Mechanic") Refrigeration and Airconditioning Mechanic
          option.option(value="Researcher") Researcher
          option.option(value="Rheumatologist") Rheumatologist
          option.option(value="Road Maintenance and Construction") Road Maintenance and Construction
          option.option(value="Saddle Maker") Saddle Maker
          option.option(value="Scaffolder - above 10 metres") Scaffolder - above 10 metres
          option.option(value="Security System Installer") Security System Installer
          option.option(value="Sewage Plant Worker") Sewage Plant Worker
          option.option(value="Shipyard Worker") Shipyard Worker
          option.option(value="Signwriter (over 10m)") Signwriter (over 10m)
          option.option(value="Skylight Fitter") Skylight Fitter
          option.option(value="Stablehand/Strapper") Stablehand/Strapper
          option.option(value="Surfboard Shaper/Manufacturer/Reshaper") Surfboard Shaper/Manufacturer/Reshaper
          option.option(value="Surveyor (field work)") Surveyor (field work)
          option.option(value="Swimming Pool - Manager/Proprietor") Swimming Pool - Manager/Proprietor
          option.option(value="Tax Consultant") Tax Consultant
          option.option(value="Telephone Technician") Telephone Technician
          option.option(value="Timber Merchant") Timber Merchant
          option.option(value="Timber Merchant -  Manual work") Timber Merchant -  Manual work
          option.option(value="Toolmaker") Toolmaker
          option.option(value="Town Planner") Town Planner
          option.option(value="Town Planner (qualified)") Town Planner (qualified)
          option.option(value="Trench Digger") Trench Digger
          option.option(value="Tutor - Full Time") Tutor - Full Time
          option.option(value="Upholsterer") Upholsterer
          option.option(value="Valuer - Livestock") Valuer - Livestock
          option.option(value="Valuer - Property") Valuer - Property
          option.option(value="Vineyard (Owner/Manager)") Vineyard (Owner/Manager)
          option.option(value="Weather Forecaster") Weather Forecaster
          option.option(value="Web Designer/Developer") Web Designer/Developer
          option.option(value="Welder") Welder
          option.option(value="Window Dresser") Window Dresser
          option.option(value="Writer") Writer
          option.option(value="Zoo Attendant") Zoo Attendant
          option.option(value="Zoologist (field work)") Zoologist (field work)
          option.option.d-none(value='__none__') I cant find my occupation
        
        small.form-text.info.d-none Please select an option from the list
        .none-selected#step7-no-selection I cant find my occupation

    .chat-bubble
      .avatar
        img(src='static/images/assistant-avatar.png', alt='assistant-avatar')
      .messages
        .message.full-rounded#step7-chat-2.d-none
          | That's okay. We'll quote you as an 
          b Office Worker 
          | for now, but you can change this later.
        .message#step7-chat-1 The risk profile of your job can increase the price of your premium.

    .button-next
      button#step7-next-button.btn Next

    .button-back
      button#step7-back-button.btn
        .button-icon
          include ../../../static/icons/chevron-left.svg
        | Back