div.eng__step-1
  
  //- Title
  p.step-1__title Discover The Cheapest Energy Providers Available For 2019.
  
  //- Content
  div.step-1__content

    //- Description 
    div.step-1__desc
      
      //- Big Sale Box
      p.small-text Aussie Residents can save up to
      div.sale-box
        div.lamp-icon
          include ../../../static/icons/idea.svg
        p.amount 40%
        p.small-asterisk *
      p.small-text on their Household Energy Bills

      //- Steps Info
      div.steps-info
        div.steps-item
          div.info-icon
            div
              include ../../../static/icons/form_white.svg
          p.info-text 1 Form
        div.steps-item
          div.info-icon
            div
              include ../../../static/icons/stopwatch_white.svg
          p.info-text 2 Minutes
        div.steps-item
          div.info-icon
            div
              include ../../../static/icons/money_bag_white.svg
          p.info-text 3 Cheapest providers for you

    //- Buttons
    div.step-1__card-buttons
      p.buttons-title Find out my cheapest rate for
      button.btn.buttons-button Just Electricity
      button.btn.buttons-button Just Gas
      button.btn.buttons-button Both Electricity & Gas