.hic__step-4

  //- Form
  .step-4__form
    .form-group.form-check
      label.step-4__form-label Select the types of extras cover you're interested in
      #fourthStepRadio.step-4__form-radio-container.container-fluid
        .row
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pl-0
            .step-4__form-radio-item
              input#generalDental.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='generalDental', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text General Dental
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pr-0
            .step-4__form-radio-item
              input#optical.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='optical', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Optical
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pl-0
            .step-4__form-radio-item
              input#majorDental.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='majorDental', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Major Dental
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pr-0
            .step-4__form-radio-item
              input#physiotherapy.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='physiotherapy', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Physiotherapy
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pl-0
            .step-4__form-radio-item
              input#endodontic.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='endodontic', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Endodontic
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-4__form-radio-column.pr-0
            .step-4__form-radio-item
              input#hearingAids.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label(data-placement='right', data-toggle='tooltip', for='hearingAids', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Hearing Aids
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12.step-4__form-radio-column.pl-0.pr-0
            .step-4__form-radio-item
              input#noOption.form-radio-item__radio(name='fourthStepRadio', type='radio')
              label.form-radio-item__label.no-check-icon(data-placement='right', data-toggle='tooltip', for='noOption', title='Helps with recovery following an accident or major surgery e.g. hip replacements, heart surgery.')
                p.form-radio-item__text I only want hospital cover
                .form-radio-item__image-arrow
                  include ../../../../../static/icons/arrow_long_right.svg
        small.form-text.step-4__form-info-message.invisible Please select one of these

    //- Button Submit
    .form-submit-button
      button#step-4-button-submit.btn.step-4__form-submit 
        | Continue
        .button-icon
          include ../../../../../static/icons/chevron_right_white.svg

    //- Button Back
    .form-back-button
      button#step-4-button-back.btn.step-4__button-back 
        .button-icon
          include ../../../../../static/icons/chevron_left_white.svg
        | Back
