.lic__step2

  .content
    .title
      p 
        | Hi there, I'm Joanne. 
        br 
        | I'll get you an awesome quote in a few clicks.
        br
        | Ready to go?

    .form
      .form-group
        label.label(for='step2-form__firstName') First Name
        input#step2-form__firstName.form-control(type='text', autofocus)
        small.form-text.info.d-none Please enter a valid first name
      .form-group
        label.label(for='step2-form__firstName') Last Name
        input#step2-form__lastName.form-control(type='text')
        small.form-text.info.d-none Please enter a valid last name

    .button-next
      button#step2-next-button.btn Let's Do This

    .button-back
      button#step2-back-button.btn
        .button-icon
          include ../../../static/icons/chevron-left.svg
        | Back
