.compare
  .image
    img(src='static/images/tree_bulb.png', alt='tree_bulb')

  .content
    .title
      p Compare electricity and gas suppliers
    .description
      p You can find clothes that are one-size-fits-all but energy suppliers do not fit that bill. Depending on your location, usage and home or business set up, some suppliers can better accommodate for your situation and offer a more price competitive plan.
    .button-cta
      button.btn Compare Now

