@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

// Colors
$primary: #40a9bc;
$primary-darken: #3da2b5;

// Variables
$navbar-height: 69px;

// Theming
$theme-colors: (
  'primary': $primary
);

// Fonts
@font-face {
  font-family: 'ProximaNova-Reg';
  src: url('../dist/fonts/ProximaNova-Reg.ttf') format('truetype');
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../dist/fonts/ProximaNova-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova-SemiBold';
  src: url('../dist/fonts/ProximaNova-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'ProximaNova-RegItalic';
  src: url('../dist/fonts/ProximaNova-RegItalic.otf') format('opentype');
}
body {
  font-family: 'ProximaNova-Reg', sans-serif;
  background-color: #f8f8f8;
  height: 100%;
}

// Navbar / Header
.navbar-custom {
  background-color: white;

  @include media-breakpoint-down(md) {
    border-bottom: 3px solid $primary;
  }

  .navbar-custom__header-contact {
    margin-right: 12px;

    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }

  .navbar-custom__phone-icon {
    margin-right: 12px;

    @include media-breakpoint-up(md) {
      display: none !important;
    }
  }

  .navbar-custom__toggler {
    border: none;

    &:focus {
      outline: none;
    }

    i {
      color: $primary;
      font-size: 24px;
    }
  }

  .navbar-custom__menus {
    margin-left: 20px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      position: absolute;
      top: $navbar-height;
      left: 0;
      background-color: $primary;
      width: 100%;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      &:before {
        content: '';
        position: absolute;
        border: 11px solid transparent;
        border-bottom: 10px solid $primary;
        top: -22px;
        right: 28px;
      }
    }

    a {
      font-weight: bold;
      font-size: 14px;
      color: black !important;

      @include media-breakpoint-up(lg) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }

      @include media-breakpoint-down(md) {
        color: white !important;
        font-family: 'ProximaNova-SemiBold', sans-serif;
        padding: 15px 20px;
        font-size: 16px;
        border-bottom: 1px solid rgba($color: #d8d8d8, $alpha: 0.5);

        i.fas {
          font-weight: 600;
          font-size: 20px;
        }
      }
    }

    .navbar-custom__menu-search {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .navbar-custom__search-form {
      width: 100%;

      .input-group {
        @include media-breakpoint-down(md) {
          width: 100%;
          background-color: $primary-darken;
        }

        .input-group-prepend {
          margin-left: 8px;

          @include media-breakpoint-down(md) {
            background-color: transparent;
          }

          span.input-group-text {
            background-color: transparent;
            border: none;
            cursor: pointer;

            i.fas {
              font-size: 14px;

              @include media-breakpoint-down(md) {
                color: white;
              }
            }
          }
        }

        input {
          font-family: 'ProximaNova-SemiBold', sans-serif;
          border: none;

          &:focus {
            box-shadow: none;
          }

          @include media-breakpoint-down(md) {
            padding: 35px 20px;
            color: white;
            background-color: transparent;
            margin-left: -10px;
            font-family: 'ProximaNova-Regular', sans-serif;
            font-weight: 400;

            &::placeholder {
              color: white;
            }
          }
        }
      }
    }
  }
}

.background-layout {
  height: 30%;
  width: 100%;
  position: absolute;
  top: $navbar-height;
  left: 0;
  z-index: -1;
  background-color: $primary;

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.main-container {
  background-color: white;
  z-index: 3;
  height: 2000px;
  margin-top: $navbar-height + 3;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.02), 0 1px 2px rgba(0, 0, 0, 0.04);
  padding: 50px 0px 50px 50px;

  @include media-breakpoint-up(lg) {
    max-width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }

  .sidebar-left {
    @include media-breakpoint-up(lg) {
      max-width: 29%;
    }

    .page-content {
      .page-content__header {
        font-family: 'ProximaNova-SemiBold', sans-serif;
        background-color: transparent;
        font-weight: bold;
        font-size: 15px;
        color: $primary;
      }

      .page-content__timeline {
        list-style-type: none;
        position: relative;
        margin-top: 10px;

        &:before {
          content: ' ';
          background: #d4d9df;
          display: inline-block;
          position: absolute;
          top: 25px;
          left: 24px;
          width: 1px;
          height: 77%;
          z-index: 400;
        }

        li {
          margin: 20px 0;
          padding-left: 20px;
          padding-right: 20px;
          font-size: 15px;
          cursor: pointer;

          &:before {
            content: ' ';
            background-color: white;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
            border: 1px solid black;
            margin-top: 5px;
            left: 20px;
            width: 10px;
            height: 10px;
            z-index: 400;
          }

          &:hover {
            font-weight: bold;
            &:before {
              border: 2px solid $primary;
            }
          }

          &.active {
            font-family: 'ProximaNova-SemiBold', sans-serif;
            color: $primary;

            &:before {
              background-color: $primary;
              border: none;
            }
          }
        }
      }
    }

    .categories {
      margin-top: 20px;

      .categories__header {
        font-size: 15px;
        color: white;
        background-color: $primary;
        font-family: 'ProximaNova-SemiBold', sans-serif;
      }

      .categories__lists {
        list-style-type: none;
        padding: 30px 35px;

        p {
          margin-bottom: 8px;
          font-size: 15px;
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }

          &.active {
            font-family: 'ProximaNova-SemiBold', sans-serif;
            color: $primary;
          }

          i.fas {
            margin-right: 20px;
          }
        }
      }
    }

    .popular-guides {
      margin-top: 20px;

      .popular-guides__header {
        color: white;
        font-size: 15px;
        background-color: $primary;
        font-family: 'ProximaNova-SemiBold', sans-serif;
      }

      .popular-guides__lists {
        padding: 20px 15px;

        li.media {
          img {
            width: 100px;
            height: 60px;
          }

          div.media-body {
            .popular-guides__lists-title {
              font-family: 'ProximaNova-SemiBold', sans-serif;
              font-size: 15px;
              font-weight: bold;
              line-height: 19px;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              }
            }

            .popular-guides__lists-meta {
              color: #b4b4b4;
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .main-content {
    @include media-breakpoint-up(lg) {
      padding-left: 30px;
      padding-right: 0;
    }

    .main-content__meta-title {
      font-size: 12px;
    }

    .main-content__title {
      font-family: 'ProximaNova-Bold', sans-serif;
      font-size: 38px;
    }

    .main-content__image {
      margin-top: 15px;
    }
  }
}
