div.eng__footer
  div.footer__left-section
  
    div.footer__logo
      include ../../static/images/logo_white.svg
  
    a.footer__link(href="#") Terms of Use
    a.footer__link(href="#") Privacy Policy
  
  div.footer__right-section
    p.copyright-title © Copyright Electricity and Gas Comparison 2019. All rights reserved. 
    p.copyright-text ElectricityandGas.com.au is an online energy comparison service. Our partners provide you access to their expert staff to assist in selecting the most appropriate energy packages from their panel of suppliers. Our consultants may contact you to further discuss your needs in order to provide you with more competitive quotes.
  