.companyLogos
  .title.d-none.d-md-block.d-lg-block.d-xl-block
    p We compare energy suppliers including...

  .companyLogosList#companyLogosList
    .company-logo
      include ../../../static/images/momentum.svg
    .company-logo
      include ../../../static/images/people_energy.svg
    .company-logo
      include ../../../static/images/agl.svg
    .company-logo
      include ../../../static/images/diamond_energy.svg
    .company-logo
      include ../../../static/images/power_direct.svg
    .company-logo
      include ../../../static/images/sumo.svg
    .company-logo
      include ../../../static/images/glo_bird.svg
    .company-logo
      include ../../../static/images/dodo.svg
    .company-logo
      include ../../../static/images/people_energy.svg
    .company-logo
      include ../../../static/images/mojo.svg
    .company-logo
      include ../../../static/images/simply_energy.svg
    .company-logo
      include ../../../static/images/origin.svg
    .company-logo
      include ../../../static/images/alinta_energy.svg
    .company-logo
      include ../../../static/images/energy_australia.svg

