.hic__step4

  .content
    .title
      p There are many factors that affect the price of your life insurance

    .chat-bubble#step5-chat-bubble
      .avatar
        img(src='static/images/assistant-avatar.png', alt='assistant-avatar')
      .message I need to ask you a few quick questions so that I can give you an accurate quote.


    .button-next
      button#step4-next-button.btn Got it

    .button-back
      button#step4-back-button.btn
        .button-icon
          include ../../../static/icons/chevron-left.svg
        | Back