#footer.lic__footer.with-avatar
  .footer-links
    a.footer-link(href='#') Privacy Policy
    a.footer-link(href='#') Terms of Use

  .footer-text.mt-4
    span.copyright 
      | © Copyright Life Insurance Comparison 2017. All rights reserved.
      br 
      br
      | We do not compare all life insurers or products in the market. Any advice provided in this website is of general nature and does not take into account your needs, objectives or financial situation. You should consider the appropriateness of it (and any relevant product) before proceeding, and read the relevant Product Disclosure Statement for the product. For more information about the range of insurers, how Life Insurance Comparison works for you, and how we make our money (keep in mind our quotes are free for you to utilise), click here and take the time to read our FSG. 
      br
      br
      | The financial products compared on this website do not necessarily compare all features that may be relevant to you. Comparisons are made on the basis of price only and different products may have different features and different levels of coverage.



