.hic__footer
  .footer-links
    a.footer-link(href='#') Privacy Policy
    a.footer-link(href='#') Terms of Use

  .footer-text
    span.copyright © Copyright Electricity and Gas Comparison 2019. All rights reserved. 
    | ElectricityandGas.com.au is an on-line energy comparison service. We have partnered with Compare and Connect Australia Pty Ltd to provide you access to their expert staff to assist in selecting the most appropriate energy packages from their panel of providers.