div.eng__main-content

  //- Background
  .eng__main-content-background
  
  //- Contents
  .eng__contents

    //- Content Title
    p.eng__content-title 
      | Compare 
      b Electricity & Gas 
      | Quotes 
    
    //- Content Companies Logo
    .eng__content-company-logos.container-fluid
      .row
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/acetew_logo.svg
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/sumo_logo.svg
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/momentum_logo.svg
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/agl_logo.svg
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/alinta_logo.svg
        .col-4.col-sm-4.col-md-2.col-lg-2.col-xl-2.company-logos
          include ../../static/images/origin_logo.svg
    
    //- Content Subtitle
    p.eng__content-subtitle.d-none.d-md-block.d-lg-block.d-xl-block
      | Search the market for competitive Electricity & Gas
      br
      | quotes from 
      b Sumo, AGL, Alinta Energy 
      | & more!
    
    //- Content Progress Bar
    .eng__content-progress
      .progress
        .progress-bar
      p.progress-indicator Progress 
        span.amount 0
        | %

    //- Content Step Container
    include ./StepContainer/stepContainer.pug
    
    //- Content Footer
    .eng__content-footer
      .lock-image
        include ../../static/icons/lock.svg
      span.footer-text Safe &nbsp; | &nbsp; Secure &nbsp; | &nbsp; Privacy Protected