.business
  .image
    img(src='static/images/city_bulb.png', alt='city_bulb')

  .content
    .title
      p Compare Business Energy
    .description
      p Switching business electricity plans doesn’t have to be difficult. We can help you compare different suppliers and work out how much you could have saved if you had switched earlier. To get the most accurate results, upload a copy of your business electricity or gas bill and we will do the rest.
    .button-cta
      button.btn More Info

