.howWork
  .title
    p How our service works
  .description
    p Understand how we can help you save on your bills.

  .services#howWorkServices
    .service
      .icon
        include ../../../static/icons/service_icon_1.svg      
      .description
        p We compare home and business energy plans from a panel of electricity & gas suppliers.
    .service
      .icon
        include ../../../static/icons/service_icon_2.svg      
      .description
        p Once we understand your situation, a consultant will compile energy plans for your location.
    .service
      .icon
        include ../../../static/icons/service_icon_3.svg      
      .description
        p Save time and money as we do the heavy lifting and help you compare and complete paperwork.
    .service
      .icon
        include ../../../static/icons/service_icon_4.svg      
      .description
        p Our local service is 100% cost and obligation free so speak to our expert consultants today!
    .service
      .icon
        include ../../../static/icons/service_icon_3.svg      
      .description
        p Save time and money as we do the heavy lifting and help you compare and complete paperwork.

  .customerReview
    .leftSide
      .icon
        include ../../../static/icons/review.svg   

      .title
        p 
          | CUSTOMER 
          br
          | REVIEW

    .rightSide
      .description
        p “It took me a long time to get quotes from individual providers myself but the consultant who called asked me about how I was using electricity and what I was currently paying and quickly came back with some very cheap plans. Switching suppliers was easy too and overall a wonderful experience.”
      .writer
        p —  Dylan H., VIC

