.eng__step-6
  
  //- Loader
  .eng__loader
    .loader

  //- Title
  p.eng__title Please wait

  //- Status
  p.eng__status-text Please wait a moment while we search for the best quotes for you.

  //- Points
  .eng__benefits
    .eng__benefits-item
      .benefit-image
        include ../../../../static/icons/time_saving.svg
      p.benefit-text Save time
    .eng__benefits-item
      .benefit-image
        include ../../../../static/icons/piggy_bank.svg
      p.benefit-text Save money
    .eng__benefits-item
      .benefit-image
        include ../../../../static/icons/document.svg
      p.benefit-text Compare quotes

