.blog
  .title
    p Latest blog posts
  .description
    p Keep up with the latest news and trending topics here.

  .blog-cards
    
    .blog-card
      .image
        img(src='static/images/blog_1.png', alt='blog_1')
      .body
        .title
          .tag 
            p Guide
          .text
            p Understanding Electricity Tariffs
        .writer
          .name
            p Sarah Millar
          .date
            p Jan 16, 2019  ·  13 min read

    .blog-card
      .image
        img(src='static/images/blog_2.png', alt='blog_2')
      .body
        .title
          .tag 
            p Blog
          .text
            p Here’s what you can do to #BeatAirPollution, and why it matters
        .writer
          .name
            p Sarah Millar
          .date
            p Jan 16, 2019  ·  9 min read

    .blog-card
      .image
        img(src='static/images/blog_3.png', alt='blog_3')
      .body
        .title
          .tag 
            p Article
          .text
            p.d-none.d-xl-block Lower prices, reliable supply and one-off cash payments: What you can expect from the post-election energy market
            p.d-xl-none Lower prices, reliable supply and one-off cash payments: What you…
        .writer
          .name
            p Sarah Millar
          .date
            p Jan 16, 2019  ·  10 min read

