.hic__step1
  
  //- Banner section area
  .banner
    .banner-image
      img(src='static/images/couple.png', alt='couple')
    .banner-desc
      .banner-title
        p Let's compare health insurance.
      .banner-subtitle
        p Quality health cover for less.
      .banner-cta
        button#step1-next-button.btn Get Free Quotes
      .banner-info
        p Takes under 2 minutes and is 100% FREE


  //- Partners section area
  .partners
    .container-fluid
      .row
        .col.company-logo
          include ../../../static/images/ahm-logo.svg
        .col.company-logo
          include ../../../static/images/hcf-logo.svg
        .col.company-logo
          include ../../../static/images/nib-logo.svg
        .col.company-logo
          include ../../../static/images/aui-logo.svg
        .col.company-logo
          include ../../../static/images/gmhba-logo.svg
        .col.company-logo
          include ../../../static/images/peoplecare-logo.svg
        .col.company-logo
          include ../../../static/images/myOwn-logo.svg


