.hic__step-container

  //- Left Only Form
  .d-none
    include ./LeftOnlyForm/leftOnlyForm.pug

  //- Step 6
  #hic__step-6.d-none
    include ./StepSix/stepSix.pug

  //- Step 7
  #hic__step-7
    include ./StepSeven/stepSeven.pug
