.footer
  .logo-address
    .logo
      include ../../../static/images/logo_full.svg

    .address
      p 
        | 724-728 George St, Sydney
        br 
        | New South Wales 2000
  
  .right-side
    .links
      .left
        .link
          p About Us
        .link
          p Tools & Calculators
        .link
          p FAQ
        .link
          p Blog

      .right
        .link
          p Energy Suppliers
        .link
          p Privacy Policy
        .link
          p Terms of Use
        .link
          p Contact Us

    .social-copyright
      .social
        a.icon(href='https://youtube.com')
          include ../../../static/icons/youtube.svg
        a.icon(href='https://twitter.com')
          include ../../../static/icons/twitter.svg
        a.icon(href='https://instagram.com')
          include ../../../static/icons/instagram.svg
        a.icon(href='https://facebook.com')
          include ../../../static/icons/facebook.svg

      .copyright
        p 
          | © Copyright Electricity and Gas Comparison 2019. 
          br.d-none.d-md-block.d-lg-block.d-xl-block
          | All rights reserved.

