.eng__step-3

  //- Form
  .step-3__form
    .form-group.form-check
      label.step-3__form-label What type of property do you have?
      #thirdStepRadio.step-3__form-radio-container.container-fluid
        .row
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-3__form-radio-column.pl-0
            .step-3__form-radio-item
              input#home.form-radio-item__radio(name='thirdStepRadioOption', type='radio')
              label.form-radio-item__label(for='home')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Home
          .col-12.col-sm-12.col-md-12.col-lg-12.col-xl-6.step-3__form-radio-column.pr-0
            .step-3__form-radio-item
              input#business.form-radio-item__radio(name='thirdStepRadioOption', type='radio')
              label.form-radio-item__label.pr-4(for='business')
                .form-radio-item__image
                  include ../../../../../static/icons/check_white.svg
                p.form-radio-item__text Business
        small.form-text.step-3__form-info-message.invisible Please select one of these

    //- Button Submit
    .form-submit-button
      button#step-3-button-submit.btn.step-3__form-submit 
        | Continue
        .button-icon
          include ../../../../../static/icons/chevron_right_white.svg

    //- Button Back
    .form-back-button
      button#step-3-button-back.btn.step-3__button-back 
        .button-icon
          include ../../../../../static/icons/chevron_left_white.svg
        | Back
