.hic__step-6
  
  //- Loader
  .hic__loader
    .loader

  //- Title
  p.hic__title Checking our panel of health funds

  //- Status
  p.hic__status-text
    | We found
    span.status-number-wrapper
      span.status-number 0
      |  products
    | that match your cover requirements

  //- Points
  .hic__benefits
    .hic__benefits-item
      .benefit-image
        include ../../../../static/icons/fast.svg
      p.benefit-text Only takes 2 minutes
    .hic__benefits-item
      .benefit-image
        include ../../../../static/icons/flash.svg
      p.benefit-text Instant online quotes
    .hic__benefits-item
      .benefit-image
        include ../../../../static/icons/easy.svg
      p.benefit-text Switching funds is easy
      //- .hic__benefits-item.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
      //-   .benefit-image.image-2
      //-   p.benefit-text Save Money
      //- .hic__benefits-item.col-xs-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
      //-   .benefit-image.image-3
      //-   p.benefit-text Compare quotes

