@media only screen and (max-width: 769px) {
    header {
        height: 60px;
        padding: 0 20px;
    }
    .hic-compare-desktop {
        display: none;
    }
    .hic-compare-tablet {
        display: inline;
    }
    .hic-wrap {
        max-width: 635px;
    }
    header .hic-wrap {
        max-width: 100%;
    }
    .hic-logo img {
        height: 42px;
    }
    .hic-contact-text {
        display: none;
    }
    .hic-contact > img {
        margin: 0;
        height: 42px;
    }
    #hic-content {
        padding-top: 40px;
    }
    .hic-box h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .hic-box h4 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 0;
    }
    .hic-box h6 {
        font-size: 14px;
    }
    .hic-life-stage {
        max-width: 540px;
    }
    .hic-ls-item-wrap .col {
        padding: 0 9px;
    }
    .hic-ls-item img {
        margin-bottom: 12px;
    }
    .hic-ls-icon {
        height: 26px;
        width: 28px;
        display: inline-block;
        padding: 0px;
        margin-right: 5px;
    }
    .hic-ls-icon img {
        height: 15px;
    }
    .hic-icon-featured span {
        font-size: 12px;
    }
    .hic-box-left,
    .hic-box-right {
        max-width: 305px;
    }
    .hic-box-white h1 {
        margin-bottom: 30px;
        font-size: 23px;
    }
    .hic-box-white p {
        margin-bottom: 30px;
    }
    .hic-box-white button {
        width: 100%;
        font-size: 16px;
    }
    .hic-box-dark {
        height: 341px;
    }
    .hic-box-dark h2 {
        font-size: 36px;
    }
    .hic-box-dark img {
        margin: 7px 0 20px;
    }
    .hic-box-grey {
        height: 265px;
        margin-top: 37px;
    }
    .hic-box-grey h4 {
        max-width: 100%;
        font-size: 18px;
        display: inline-block;
        margin-bottom: 25px;
    }
    .hic-bg-score {
        max-width: 100%;
        display: inline-block;
        margin-bottom: 15px;
    }
    .hic-bg-score h1 {
        display: block;
        font-size: 90px;
    }
    .hic-bg-score h1 small {
        font-size: 48px;
    }
    .hic-bg-provided  {
        max-width: 100%;
    }
    .hic-bg-provided span {
        font-size: 14px;
        margin-right: 15px;
    }
    .hic-box-bottom {
        padding-bottom: 40px;
    }
    .hic-blue-bar h1 {
        font-size: 21px;
        margin-right: 55px;
    }
    .hic-fot-logo {
        max-width: 150px;
    }
    .hic-fot-logo img {
        width: 100%;
    }
    .hic-fot-logo p {
        font-size: 12px;
    }
    .hic-fot-link {
        max-width: 277px;
    }
    .hic-fot-sosmed-copy {
        max-width: 133px;
        padding-top: 0;
    }
    .hic-fot-sosmed-copy a {
        margin-right: 9px;
    }
    .hic-fot-sosmed-copy a:last-child {
        margin-right: 0;
    }
    .hic-fot-sosmed-copy p {
        width: 100%;
        margin-top: 16px;
    }
    .hic-fot-sosmed-copy p br {
        display: none;
    }
    .hic-licence img {
        width: 50px;
        margin: 0 10px;
    }
    .hic-box-white ul li {
        align-items: flex-start;
    }
}
@media only screen and (max-width: 480px) {
    header {
        height: 100px;
    }
    .hic-compare-tablet {
        display: none;
    }
    #hic-content .hic-wrap {
        padding: 0 25px;
    }
    .hic-box {
        padding: 35px 25px;
    }
    .hic-box h1 {
        margin-top: 0;
        font-size: 20px;
    }
    .hic-box h4 {
        font-size: 18px;
    }
    .hic-box h6 {
        font-size: 16px;
    }
    .hic-button {
        max-width: 100%;
        width: 100%;
    }
    .hic-box-white button {
        font-size: 14px;
    }
    .hic-ls-item-wrap .col {
        width: 50%;
        flex-grow: unset;
        flex-basis: unset;
    }
    .hic-ls-item {
        margin-bottom: 15px;
    }
    .hic-icon-featured .col {
        flex-direction: column;
    }
    .hic-ls-icon {
        display: inline-block;
        clear: both;
        margin: 0;
        margin-bottom: 10px;
    }
    .hic-icon-featured span {
        float: left;
        text-align: center;
        width: 100%;
        clear: both;
    }
    .hic-box-bottom {
        flex-direction: column;
        background: #fff;
        margin-left: -25px;
        margin-right: -25px;
        padding: 30px 25px;
    }
    .hic-box-left, .hic-box-right {
        max-width: 100%;
        background: transparent;
    }
    .hic-box-white {
        margin-bottom: 25px;
    }
    .hic-box-dark {
        height: auto;
    }
    .hic-box-grey {
        height: auto;
    }
    .hic-blue-bar {
        flex-direction: column;
        height: auto;
        padding: 25px 0;
    }
    .hic-blue-bar h1 {
        margin: 0;
        max-width: 255px;
        margin-bottom: 15px;
    }
    .hic-footer .hic-wrap {
        flex-direction: column;
    }
    .hic-fot-logo {
        padding-bottom: 25px;
        border-bottom: 1px solid #ebebeb;
    }
    .hic-fot-link {
        padding: 25px 0;
        border-bottom: 1px solid #ebebeb;
    }
    .hic-fot-sosmed-copy {
        padding-top: 25px;
    }
    .hic-licence {
        display: block;
        flex-direction: row;
        justify-content: space-between;
    }
    .hic-licence img {
        margin: 0 10px 10px;
        width: 30px
    }
    .hic-box-white ul li {
        align-items: flex-start;
        margin-bottom: 5px;
    }
    .hic-box-white ul li img {
        width: 70px;
    }
    .hic-bw-text-box h5 {
        font-size: 13px;
        margin-bottom: 5px;
    }
    .hic-bw-text-box p {
        font-size: 12px;
    }
    .hic-box-white h1 {
        font-size: 18px;
    }
}