body {
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova-Regular';
    background: #f6f6f6;
}
.hic-wrap {
    width: 100%;
    max-width: 975px;
    display: block;
    margin: 0 auto;
}
.hic-compare-desktop {
    position: absolute;
    left: -241px;
    top: 12px;
}
.hic-compare-tablet {
    position: absolute;
    left: -90px;
    top: 187px;
    display: none;
}
.no-padding {
    padding: 0 !important;
}
/* header */
header {
    width: 100%;
    height: 78px;
    border-bottom: 2px solid #13708c;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #fff;
}
header .hic-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.hic-logo {
    display: inline-block;
}
.hic-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.hic-contact > img {
    height: 42px;
    width: 42px;
    margin-right: 20px;
}
.hic-contact-text span {
    color: #212121;
    font-size: 12px;
    font-family: 'ProximaNova-Regular';
    line-height: 12px;
}
.hic-contact-text h3 {
    color: #212121;
    font-size: 30px;
    font-family: 'ProximaNova-Bold';
    margin: 0;
    padding: 0;
    line-height: 30px;
}
.hic-contact-text h3:hover {
    color: #71be59;
    cursor: pointer;
}
/* content */
#hic-content {
    background: url(../images/bg-hero.png) no-repeat;
    background-size: 100% auto;
    padding-top: 50px;
}
.hic-progress {
    width: 100%;
    background: transparent;
    position: relative;
    display: block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    top: -5px;
    overflow: hidden;
}
.hic-progress-bar {
    width: 0%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71be59+0,13708c+100 */
    background: #71be59; /* Old browsers */
    background: -moz-linear-gradient(left, #71be59 0%, #13708c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #71be59 0%,#13708c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #71be59 0%,#13708c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71be59', endColorstr='#13708c',GradientType=1 ); /* IE6-9 */
    height: 5px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.hic-box {
    background: #fff;
    /* border-top: 3px solid #13708c; */
    border-radius: 3px;
    padding: 0 15px;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px 2px #ddd;
    padding-bottom: 25px;
    position: relative;
}
.hic-step {
    display: none;
    width: 100%;
}
.hic-step.active {
    display: inline-block;
}
.hic-step[data-no="2"],
.hic-step[data-no="5"] {
    padding: 100px 0;
}
.hic-step[data-no="2"] h1,
.hic-step[data-no="5"] h1 {
    font-family: 'ProximaNova-Bold';
    font-size: 27px;
    color: #212121;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 15px;
}
.hic-step[data-no="2"] > .row > div:first-child {
    padding-right: 30px;
}
.hic-step[data-no="2"] > .row > div:last-child {
    padding-left: 30px;
}
.hic-step[data-no="2"] p,
.hic-step[data-no="5"] p {
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #626262;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    max-width: 288px;
    margin-bottom: 20px;
}
.hic-step[data-no="2"] a {
    font-family: 'ProximaNova-Bold';
    color: #13708c;
    display: block;
    clear: both;
}
.hic-step[data-no="2"] .hic-button,
.hic-step[data-no="5"] .hic-button {
    margin: 0;
    margin-top: 30px;
}
.hic-step[data-no="3"],
.hic-step[data-no="4"] {
    padding: 30px 0;
}
.hic-step[data-no="3"] h1,
.hic-step[data-no="4"] h1,
.hic-step[data-no="6"] h1 {
    font-family: 'ProximaNova-Bold';
    font-size: 27px;
    color: #212121;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.hic-step[data-no="3"] p,
.hic-step[data-no="4"] p,
.hic-step[data-no="6"] p {
    font-family: 'ProximaNova-Regular';
    font-size: 18px;
    color: #626262;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 368px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: block;
}
.hic-step[data-no="6"] h1{
    margin-top: 40px;
}
.hic-step[data-no="6"] p {
    max-width: 100%;
}
.hic-step[data-no="6"] .hic-loader {
    display: block;
    margin: 50px auto 130px;;
}
.hic-select {
    height: 53px;
    width: 370px;
    border: 1px solid #dbdbdb;
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 25px;
}
.hic-select select {
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #313131;
    font-family: 'ProximaNova-Regular';
    padding: 0 10px;
    border: none;
    outline: none;
    box-shadow: none;
    background: #fff;
}
.hic-select select:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}
.hic-select .hic-remove-arrow {
    position: absolute;
    top: 1px;
    right: 1px;
    background: #fff;
    width: auto;
    height: 50px;
    width: 40px;
    z-index: 1;
    display: block;
}
.hic-select img.hic-icon-question {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #fff;
    width: auto;
    z-index: 2;
}
.hic-select img.hic-icon-fund {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #fff;
    width: auto;
    z-index: 2;
}
.hic-option {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 570px;
    position: relative;
}
.hic-option-item {
    border: 1px solid #dbdbdb;
    width: 100%;
    border-radius: 5px;
    height: 65px;
    display: flex;
    align-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 22px;
}
.hic-option-item-full {
    justify-content: center;
}
.hic-option-item.active {
    border-color: #13708c;
}
.hic-option-item > img {
    margin-right: 20px;
}
.hic-option-item .hic-oi-on {
    display: none;
}
.hic-option-item.active .hic-oi-on {
    display: inline;
}
.hic-option-item.active .hic-oi-off {
    display: none;
}
.hic-option-item > span {
    font-family: 'ProximaNova-Regular';
    font-size: 13px;
    color: #bbbbbb;
    margin-right: 40px;
    width: 100%;
    text-transform: uppercase;
}
.hic-option-item-full > span {
    width: auto;
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    padding: 0;
    line-height: 14px;
    letter-spacing: 1px;
}
.hic-option-item.active > span {
    font-family: 'ProximaNova-Bold';
    color: #13708c;
}
.hic-option-item > .hic-oi-check {
    width: 24px;
    height: 24px;
    display: inline-block;
    border-radius: 100px;
    border: 1px solid #5cb85c;
}
.hic-option-item > .hic-oi-check img {
    opacity: 0;
    width: 22px;
    height: 22px; 
    display: inline-block;
    margin-top: -3px;
}
.hic-option-item.active > .hic-oi-check img {
    opacity: 1;
}
.hic-option-input {
    display: none;
}
.hic-input-group {
    position: relative;
    max-width: 375px;
    width: 100%;
}
.hic-input-group .input-group-text {
    background: transparent;
    border-right: none;
    border-radius: 0;
    padding-left: 11px;
    padding-right: 11px;
    border-color: #dbdbdb;
}
.hic-input-group .form-control:focus,
.hic-input-group .form-control:active,
.hic-input-group .form-control:hover {
    outline: none;
    box-shadow: none;
    border-color: #dbdbdb;
}
.hic-input-group .form-control {
    border-left: none;
    height: 50px;
    padding-left: 0;
    border-color: #dbdbdb;
}
.hic-input-group .hic-info {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
.hic-box h1 {
    margin-top: 20px;
    font-family: 'ProximaNova-Bold';
    color: #212121;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.hic-box h1 strong {
    color: #13708c;
    font-family: 'ProximaNova-Extrabld';
}
.hic-box hr {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
}
.hic-box h4 {
    font-size: 27px;
    color: #212121;
    font-family: 'ProximaNova-Bold';
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hic-box h6 {
    font-size: 18px;
    color: #626262;
    font-family: 'ProximaNova-Regular';
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 21px;
}
.hic-life-stage {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 650px;
    position: relative;
}
.hic-ls-item-wrap {
    position: relative;
}

.hic-ls-item {
    margin: 0;
    padding: 0;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 160px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.ls-radio {
    display: none;
}
.hic-ls-item img {
    height: 70px;
    margin-bottom: 17px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.hic-ls-item span {
    font-family: 'ProximaNova-Regular';
    font-size: 14px;
    color: #bbbbbb;
    letter-spacing: 1px;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
input:checked + .hic-ls-item img,
.hic-ls-item.active img,
.hic-ls-item:hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
input:checked + .hic-ls-item span,
.hic-ls-item.active span,
.hic-ls-item:hover span {
    color: #13708c;
    font-family: 'ProximaNova-Bold';
}
input:checked + .hic-ls-item,
.hic-ls-item.active,
.hic-ls-item:hover {
    border-color: #13708c;
}
.hic-button {
    width: 270px;
    height: 50px;
    background: #5cb85c;
    color: #fff;
    font-size: 20px;
    font-family: 'ProximaNova-Bold';
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #479047;
    margin: 30px auto;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
}
.hic-button:hover,
.hic-button:active,
.hic-button:focus {
    background: #449d44;
}
.hic-btn-back {
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
    color: #c3c3c3;
    font-family: 'ProximaNova-Regular';
    border: none;
    background: transparent;
    cursor: pointer;
}
.hic-lifestage-suggest {
    font-family: 'ProximaNova-RegularIt';
    color: #13708c;
    font-size: 14px;
    width: 100%;
    text-align: center;
    display: inline-block;
    display: none;
}
.hic-suggest {
    font-family: 'ProximaNova-RegularIt';
    color: #13708c;
    font-size: 12px;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 5px;
    display: none;
}
.hic-step[data-no="1"] .hic-button {
    margin-bottom: 10px;
}
.hic-step[data-no="3"] .hic-button,
.hic-step[data-no="4"] .hic-button {
    margin-bottom: 0;
}
.hic-step[data-no="3"] .hic-btn-back,
.hic-step[data-no="4"] .hic-btn-back {
    display: block;
    width: auto;
    margin: 20px auto;
}
.hic-step[data-no="3"] .hic-suggest,
.hic-step[data-no="4"] .hic-suggest {
    text-align: center;
}
.hic-ls-icon {
    width: 36px;
    height: 36px;
    background: #13708c;
    border-radius: 100px;
    text-align: center;
    padding: 5px 0;
    margin-right: 15px;
}
.hic-ls-icon img {
    height: 20px;
}
.hic-icon-featured {
    margin-top: 30px;
    margin-bottom: 22px;
}
.hic-icon-featured span {
    font-size: 14px;
    color: #626262;
    font-family: 'ProximaNova-RegularIt';
}
.hic-icon-featured .col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.hic-licence {
    text-align: center;
    margin: 25px 0 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 15px 0;
}
.hic-licence-one {
    border-right: 1px solid #ebebeb;
}
.hic-licence img {
    margin: 0 15px;
}
.hic-licence img {
    /* margin: 0 18px; */
}
.hic-box-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.hic-box-left {
    width: 100%;
    max-width: 570px;
}
.hic-box-right {
    width: 100%;
    max-width: 372px;
    display: flex;
    flex-direction: column;
}
.hic-box-white {
    background: #fff;
    padding: 30px;
    border: 1px solid #eeeeee;
}
.hic-box-white h1 {
    font-size: 24px;
    color: #212121;
    font-family: 'ProximaNova-Bold';
    margin-bottom: 30px;
}
.hic-box-white p {
    font-size: 15px;
    color: #626262;
    font-family: 'ProximaNova-Regular';
    margin-bottom: 40px;
}
.hic-box-white ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 15px;
}
.hic-box-white ul li {
    margin-bottom: 20px;
    display: flex;
    align-content: center;
    align-items: center;
}
.hic-box-white ul li img {
    margin-right: 20px;
}
.hic-box-white ul .hic-bw-text-box {

}
.hic-bw-text-box h5 {
    font-size: 18px;
    color: #13708c;
    font-family: 'ProximaNova-Bold';
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.hic-bw-text-box p {
    color: #626262;
    font-size: 15px;
    font-family: 'ProximaNova-Regular';
    margin: 0;
    padding: 0;
}
.hic-box-white button {
    width: 100%;
    max-width: 320px;
    height: 50px;
    background: #5cb85c;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    font-family: 'ProximaNova-Regular';
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #66ae4f;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
}
.hic-box-white button:hover,
.hic-box-white button:active,
.hic-box-white button:focus {
    background: #449d44;
}
.hic-box-white button img {
    margin-left: 10px;
    margin-top: -3px;
}
.hic-box-dark {
    /* height: 267px; */
    background: #4a4645;
    flex-direction: column;
    text-align: left;
    padding: 30px 30px;
}
.hic-box-dark h1 {
    font-size: 36px;
    color: #fff;
    font-family: 'ProximaNova-Bold';
}
.hic-box-dark h2 {
    font-size: 30px;
    color: #fff;
    font-family: 'ProximaNova-Extrabld';
}
.hic-box-dark img {
    width: auto;
    height: auto;
    margin: 7px 0;
}
.hic-box-grey {
    /* height: 172px; */
    background: #ededed;
    flex-direction: column;
    text-align: left;
    padding: 40px 30px;
    margin-top: 28px;
}
.hic-box-grey h4 {
    float: left;
    width: 100%;
    max-width: 113px;
    font-size: 16px;
    color: #313131;
    font-family: 'ProximaNova-Bold';
}
.hic-bg-score {
    float: right;
    width: 100%;
    max-width: 170px;
    margin-top: -5px;
}
.hic-bg-score h1 {
    font-size: 72px;
    margin: 0;
    padding: 0;
    color: #313131;
    font-family: 'ProximaNova-Regular';
    position: relative;
    vertical-align: text-top;
    line-height: 72px;
    margin-bottom: 15px;
    display: inline-block;
}
.hic-bg-score h1 small {
    font-size: 36px;
    position: absolute;
    top: 5px;
    line-height: 36px;
}
.hic-bg-provided {
    float: left;
    width: 100%;
    max-width: 113px;
    margin-top: 10px;
}
.hic-bg-provided span {
    font-size: 12px;
    color: #313131;
    font-family: 'ProximaNova-Regular';
}
.hic-bg-provided img {
    margin-top: 5px;
}
.hic-step-7 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 82px;
}
.hic-7-topbar {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: #5cb85c;
    color: #fff;
    padding: 15px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 27px;
    font-family: 'ProximaNova-Bold';
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#71be59+0,13708c+100 */
    background: #71be59; /* Old browsers */
    background: -moz-linear-gradient(left, #71be59 0%, #13708c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #71be59 0%,#13708c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #71be59 0%,#13708c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71be59', endColorstr='#13708c',GradientType=1 ); /* IE6-9 */
}
.hic-7-topbar img {
    margin-right: 15px;
}
.hic-7-left {
    background: #fff;
    /* box-shadow: 0 5px 10px 2px #ddd; */
    position: relative;
    padding: 0 100px;
    border-right: 1px solid #ebebeb;
    margin: 33px 0;
    padding-right: 50px;
}
.hic-7-right {
    background: #fff;
    padding: 0 35px;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hic-7-left h1 {
    font-size: 27px;
    color: #212121;
    font-family: 'ProximaNova-Bold';
    margin: 25px 0;
    text-align: left;
}
.hic-7-left p {
    font-size: 16px;
    color: #626262;
    font-family: 'ProximaNova-Regular';
    margin: 0;
    text-align: left;
    width: 100%;
    width: 400px;
    margin-bottom: 20px;
}
.hic-7-left .input-group {
    margin-bottom: 20px;
    width: 370px;
}
.hic-7-left .hic-button {
    width: 370px;
    margin: 10px 0 25px;
    display: inline-block;
    margin-bottom: 0;
}
.hic-7-left .hic-btn-back {
    margin: 20px auto;
    display: block;
}
.hic-7-left .hic-suggest {
    text-align: center;
    margin-bottom: 0;
}
.hic-7-left p.hic-toc {
    font-size: 14px;
    color: #212121;
    font-family: 'ProximaNova-Regular';
    text-align: center;
    margin: 0;
    width: 370px;
} 
.hic-7-left p.hic-toc a {
    color: #13708c;
    font-family: 'ProximaNova-Bold';
}
.hic-7-right ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding: 0 15px;
}
.hic-7-right ul li {
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}
.hic-7-right ul li img {
    float: left;
    margin-right: 20px;
}
.hic-7-right ul li p {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #626262;
    font-family: 'ProximaNova-Regular';
    font-size: 16px;
    width: 185px;
}
.hic-7-right ul li p a {
    color: #13708c;
    font-family: 'ProximaNova-Bold';
}
.hic-7-right hr {
    width: 300px;
    border-color: #dbdbdb;
}
.hic-licence-last {
    padding-top: 35px;
    text-align: center;
}
.hic-licence-last img {
    margin: 0 17px;
}
/* footer */
footer {
    width: 100%;
}
.hic-blue-bar {
    height: 95px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    background: #13708c;
    text-align: center;
    justify-content: center;
}
.hic-blue-bar h1 {
    font-size: 24px;
    color: #fefefe;
    font-family: 'ProximaNova-Bold';
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}
.hic-button-blue-bar {
    width: 100%;
    max-width: 206px;
    height: 40px;
    background: #5cb85c;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    font-family: 'ProximaNova-Bold';
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #053f27;
    display: block;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
}
.hic-button-blue-bar:hover,
.hic-button-blue-bar:active,
.hic-button-blue-bar:focus {
    background: #449d44;
}
.hic-button-blue-bar img {
    margin-left: 15px;
}
.hic-button-blue-bar:hover,
.hic-button-blue-bar:focus,
.hic-button-blue-bar:active {
    color: #fff;
    text-decoration: none;
}
.hic-footer {
    width: 100%;
    padding: 40px;
}
.hic-footer .hic-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.hic-fot-logo {
    max-width: 190px;
    width: 100%;
    display: inline-block;
}
.hic-fot-logo img {
    margin-bottom: 30px;
}
.hic-fot-logo p {
    color: #212121;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'ProximaNova-Regular';
}
.hic-fot-link {
    max-width: 305px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.hic-fot-link ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.hic-fot-link ul li {
    margin-bottom: 5px;
}
.hic-fot-link a {
    color: #13708c;
    font-size: 14px;
    font-family: 'ProximaNova-Bold';
    line-height: 14px;
}
.hic-fot-link a:hover {
    text-decoration: underline;
}
.hic-fot-sosmed-copy {
    max-width: 255px;
    width: 100%;
    display: inline-block;
    padding-top: 15px;
}
.hic-fot-sosmed-copy p {
    color: #212121;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'ProximaNova-Regular';
    margin-top: 30px;
}
.hic-fot-sosmed-copy a {
    margin-right: 15px;
}
/* loader */
.hic-loader {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* popover */
.popover {
    background: #13708c;
    border-color: #13708c;
    max-width: 140px;
}
.popover-body {
    color: #fff;
    font-family: 'ProximaNova-Regular';
    font-size: 10px;
    text-align: center;
}
.bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::before,
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    border-top-color: #13708c;
}
/* autocoplete */
.ui-widget.ui-widget-content {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}
.ui-widget.ui-widget-content li {
    font-size: 12px;
}
/* alert validation */
.hic-alert-valid-wrap {
    position: absolute;
    bottom: 120%;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}
.hic-alert-valid {
    position: relative;
    background: rgba(0,0,0,0.9);
    color: #fff;
    font-size: 12px;
    font-family: 'ProximaNova-Regular';
    font-weight: 400;
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    max-width: 250px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}
.hic-alert-valid > img {
    margin-right: 10px;
}
.hic-alert-valid-arrow {
    position: absolute;
    top: 90%;
    text-align: center;
    right: 0;
    left: 0;
}
.hic-step[data-no="3"] .hic-alert-valid-wrap,
.hic-step[data-no="4"] .hic-alert-valid-wrap {
    bottom: 105%;
}
