.hic__main-content

  //- Include Steps
  #hic__step1.d-none
    include ./Step1/step1.pug
  
  #hic__step2.d-none
    include ./Step2/step2.pug

  #hic__step3.d-none
    include ./Step3/step3.pug

  #hic__step4.d-none
    include ./Step4/step4.pug

  #hic__step5
    include ./Step5/step5.pug

  #hic__step6
