div.eng__step-1
  
  //- Text on the left
  .eng__step-1__desc
    p.step-1__title Aussie Residents can save up to 38%* 
      br.d-none.d-4k-block
      | on their Household Energy Bills
    p.step-1__subtitle Click to find out how much you can save 
      br.d-none.d-4k-block
      | in your state:
    .arrow-long-image.d-none.d-xl-block
      include ../../../static/images/arrow_long.svg

  //- Big Image on the right
  .eng__step-1__image
    div.map
      include ../../../static/images/map.svg
