.moving
  .title
    p Moving house? Start off on the right foot!

  .content
    .points
      .point
        .number 
          p 1
        .icon
          include ../../../static/icons/list.svg
        .description
          p Compare energy plans for your new home.

      .separator
        .dashed

      .point
        .number 
          p 2
        .icon
          include ../../../static/icons/handshake.svg
        .description
          p Let us help you get set up.

      .separator
        .dashed
        
      .point
        .number 
          p 3
        .icon
          include ../../../static/icons/idea.svg
        .description
          p Move in worry free with utilities ready to go!
