doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    title Health Insurance Comparison

    link(rel='stylesheet', href='./scss/app.sass')

  body
    
    p Hello

    i.fas.fa-user
    br
    img(src='static/images/feefo_logo.png', alt='feefo')
    
    script(src='js/app.js')
