div.eng__trusted-companies
  
  //- Title
  p.trusted-companies__title Our trusted energy providers:

  //- Logos
  div.container-fluid.trusted-companies-container
    div.row
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/sumo_logo.svg", alt="sumo_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/momentum_logo.svg", alt="momentum_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/agl_logo.svg", alt="agl_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/ActewAGL_Logo_Blue_Gradient_Lozenge_RGB_72ppi.svg", alt="ActewAGL_Logo_Blue_Gradient_Lozenge_RGB_72ppi")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/pd_logo.svg", alt="pd_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/energyaustralia_logo.svg", alt="energyaustralia_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/alinta_logo.svg", alt="alinta_logo")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/Origin_Logo_Secondary_NOTAB_RGB.svg", alt="Origin_Logo_Secondary_NOTAB_RGB")
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        img(src="static/images/powershop_logo.svg", alt="powershop_logo")