div.eng__trusted-companies
  
  //- Title
  p.trusted-companies__title Our trusted energy providers:

  //- Logos
  div.container-fluid.trusted-companies-container
    div.row
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/sumo_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/momentum_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/agl_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/ActewAGL_Logo_Blue_Gradient_Lozenge_RGB_72ppi.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/pd_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/energyaustralia_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/alinta_logo.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/Origin_Logo_Secondary_NOTAB_RGB.svg
      div.col-6.col-sm-6.col-md-3.col-lg-2.col-xl-2.logo-box
        div
          include ../../static/images/powershop_logo.svg