.lic__step6

  .content
    .title
      p How old are you?

    .form
      .form-group
        label.label(for='step6-form__age') Your Age
        input#step6-form__age.form-control(type='text', autofocus)
        small.form-text.info.d-none Please enter a valid age

    .chat-bubble#step6-chat-bubble
      .avatar
        img(src='static/images/assistant-avatar.png', alt='assistant-avatar')
      .message Your age will affect how much you pay for life insurance products.

    .button-next#step6-next-button
      button.btn Next

    .button-back
      button#step6-back-button.btn
        .button-icon
          include ../../../static/icons/chevron-left.svg
        | Back