.hic__left-only-form
  
  .left-form
    //- Step 1
    #hic__step-1
      include ./StepOne/stepOne.pug
      
    //- Step 2
    #hic__step-2.d-none
      include ./StepTwo/stepTwo.pug

    //- Step 3
    #hic__step-3.d-none
      include ./StepThree/stepThree.pug

    //- Step 4
    #hic__step-4.d-none
      include ./StepFour/stepFour.pug

    //- Step 5
    #hic__step-5.d-none
      include ./StepFive/stepFive.pug

  //- Promotion
  .d-none.d-md-block.d-lg-block.d-xl-block
    include ../Promotion/promotion.pug
